In [1]:
import pandas as pd
import numpy as np

In [2]:
df_original = pd.read_sas("LLCP2022.XPT", format="xport")
df_original

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000001',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,b'02042022',b'02',b'04',b'2022',1100.0,b'2022000002',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000003',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000004',2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000005',2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,78.0,11.0,b'12192022',b'12',b'19',b'2022',1100.0,b'2022001527',2.022002e+09,NaN,...,4.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,1.0
445128,78.0,11.0,b'12212022',b'12',b'21',b'2022',1100.0,b'2022001528',2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,1.0
445129,78.0,11.0,b'11292022',b'11',b'29',b'2022',1100.0,b'2022001529',2.022002e+09,NaN,...,1.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,2.0,2.0,2.0
445130,78.0,11.0,b'12082022',b'12',b'08',b'2022',1100.0,b'2022001530',2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0
445131,78.0,11.0,b'12142022',b'12',b'14',b'2022',1100.0,b'2022001531',2.022002e+09,NaN,...,3.0,NaN,1.0,5.000000e+01,2.0,9.990000e+04,9.0,NaN,NaN,2.0

In [3]:
# DISPCODE: Indica si la entrevista fue completada (1100) o no (1200)
df_original = df_original[df_original["DISPCODE"] == 1100]
df_original

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000001',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,b'02042022',b'02',b'04',b'2022',1100.0,b'2022000002',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000003',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000004',2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000005',2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,78.0,11.0,b'12192022',b'12',b'19',b'2022',1100.0,b'2022001527',2.022002e+09,NaN,...,4.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,1.0
445128,78.0,11.0,b'12212022',b'12',b'21',b'2022',1100.0,b'2022001528',2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,1.0
445129,78.0,11.0,b'11292022',b'11',b'29',b'2022',1100.0,b'2022001529',2.022002e+09,NaN,...,1.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,2.0,2.0,2.0
445130,78.0,11.0,b'12082022',b'12',b'08',b'2022',1100.0,b'2022001530',2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0
445131,78.0,11.0,b'12142022',b'12',b'14',b'2022',1100.0,b'2022001531',2.022002e+09,NaN,...,3.0,NaN,1.0,5.000000e+01,2.0,9.990000e+04,9.0,NaN,NaN,2.0

In [ ]:
# Seleccion de features inicial
keep_vars=[
    "HHADULT",      # ¿Cuántos miembros de su hogar, incluido usted, tienen 18 años de edad o más? [demografica]
    "SEXVAR",       # Sexo del demandado(a) [demografica]
    "PERSDOC3",     # ¿Tiene usted una persona o un grupo de médicos a quienes considere su proveedor personal de atención médica? [acceso a salud]
    "MEDCOST1",     # ¿Hubo algún momento en los últimos 12 meses en el que usted necesitó ver a un médico pero no pudo porque no podía pagarlo? [acceso a salud]
    "EXERANY2",     # Durante el último mes, además de su trabajo habitual, ¿participó en alguna actividad física o ejercicio como correr, calistenia, golf, jardinería o caminar para hacer ejercicio? [conducta saludable]
    "SLEPTIM1",     # En promedio, ¿cuántas horas duermes en un período de 24 horas? [salud general]
    "CVDINFR4",     # ¿Alguna vez te han dicho que tuviste un ataque cardíaco, también llamado infarto de miocardio? [salud física]
    "CVDSTRK3",     # ¿Alguna vez te han dicho que tuviste un derrame cerebral? [salud física]
    "ADDEPEV3",     # ¿Alguna vez te dijeron que tenías un trastorno depresivo (incluyendo depresión, depresión mayor, distimia o depresión menor)? [salud mental] [OBJETIVO]
    "DIABETE4",     # ¿Alguna vez te dijeron que tenías diabetes? [salud física]
    "MARITAL",      # ¿Es usted: (estado civil) [demográfica]
    "RENTHOM1",     # ¿Es usted propietario o alquila su vivienda? [condición socioeconómica]
    "VETERAN3",     # ¿Alguna vez ha servido en servicio activo en las Fuerzas Armadas de los Estados Unidos, ya sea en el ejército regular o en una unidad de la Guardia Nacional o de reserva militar? [demográfica]
    "EMPLOY1",      # ¿Estás actualmente…? (estado laboral) [condición socioeconómica]
    "DECIDE",       # Debido a una condición física, mental o emocional, ¿tiene usted serias dificultades para concentrarse, recordar o tomar decisiones? [discapacidad / salud mental]
    "DIFFALON",     # Debido a una condición física, mental o emocional, ¿tiene usted dificultad para hacer recados solo, como visitar al médico o ir de compras? [discapacidad / salud mental]
    "COLNCNCR",     # ¿Alguna vez le han realizado algún otro tipo de prueba para detectar cáncer colorrectal, como una colonoscopia virtual, una colonografía por TC, un análisis de sangre en heces, una prueba de ADN FIT o una prueba Cologuard? [salud física]
    "SMOKE100",     # ¿Has fumado al menos 100 cigarrillos en tu vida? [Nota: 5 paquetes = 100 cigarrillos] [historial tabaco]
    "USENOW3",      # ¿Utilizas actualmente tabaco para masticar, rapé o snus todos los días, algunos días o nunca? (El snus (que en sueco significa rapé) es un tabaco húmedo sin humo, que suele venderse en pequeñas bolsitas que se colocan debajo del labio, contra la encía). [consumo de tabaco actual]
    "ECIGNOW2",     # ¿Diría que nunca ha usado cigarrillos electrónicos u otros productos electrónicos de vapeo en toda su vida o que ahora los usa todos los días, los usa algunos días o los usó en el pasado pero actualmente no los usa en absoluto? [consumo de tabaco actual]
    "ALCDAY4",      # Durante los últimos 30 días, ¿cuántos días a la semana o al mes consumiste al menos una bebida alcohólica? [consumo de alcohol]
    "AVEDRNK3",     # Una bebida equivale a una cerveza de 355 ml, una copa de vino de 145 ml o una bebida con un trago de licor. Durante los últimos 30 días, los días que bebió, ¿aproximadamente cuántas bebidas bebió en promedio? (Una cerveza de 1,1 litros cuenta como 3 bebidas, o un cóctel con 2 tragos cuenta como 2 bebidas). [consumo de alcohol]
    "DRNK3GE5",     # Considerando todos los tipos de bebidas alcohólicas, ¿cuántas veces durante los últimos 30 días bebió usted 5 o más bebidas si es hombre o 4 o más bebidas si es mujer en alguna ocasión? [consumo de alcohol]
    "MAXDRNKS",     # Durante los últimos 30 días, ¿cuál fue la mayor cantidad de bebidas que consumiste en cualquier ocasión? [consumo de alcohol]
    "HIVRISK5",     # Voy a leerte una lista. Cuando termine, por favor, dime si alguna de estas situaciones te aplica. No es necesario que me digas cuál. Te has inyectado alguna droga distinta a la recetada en el último año. Has recibido tratamiento por una enfermedad de transmisión sexual o ETS en el último año. Has dado o recibido dinero o drogas a cambio de sexo en el último año. [riesgo salud sexual]
    "COVIDPOS",     # ¿Alguna vez un médico, enfermero u otro profesional de la salud le ha dicho que dio positivo en la prueba de COVID 19? [salud física]
    "CDSOCIAL",     # Durante los últimos 12 meses, ¿con qué frecuencia la confusión o la pérdida de memoria han interferido con su capacidad para trabajar, hacer voluntariado o participar en actividades sociales fuera del hogar? [deterioro cognitivo]
    "CDDISCUS",     # ¿Usted o alguien más ha hablado sobre su confusión o pérdida de memoria con un profesional de la salud? [deterioro cognitivo]
    "CAREGIV1",     # Durante los últimos 30 días, ¿brindó atención o asistencia regular a un amigo o familiar que tiene un problema de salud o una discapacidad? [carga del cuidador]
    "CRGVREL4",     # ¿Cuál es su relación contigo? (Referente a la anterior) [carga del cuidador]
    "CRGVLNG1",     # ¿Durante cuánto tiempo ha brindado atención a esa persona? [carga del cuidador]
    "CRGVHRS1",     # En una semana promedio, ¿cuántas horas brinda usted atención o asistencia? [carga del cuidador]
    "ACEDEPRS",     # ¿Vivía usted con alguien que estaba deprimido, enfermo mental o tenía tendencias suicidas? [experiencias adversas infancia]
    "ACEDRINK",     # ¿Vivía usted con alguien que fuera bebedor problemático o alcohólico? [experiencias adversas infancia]
    "ACEDRUGS",     # ¿Vivía usted con alguien que consumía drogas callejeras ilegales o abusaba de medicamentos recetados? [experiencias adversas infancia]
    "ACEPRISN",     # ¿Vivió usted con alguien que cumplió condena o fue sentenciado a cumplir condena en una prisión, cárcel u otro centro penitenciario? [experiencias adversas infancia]
    "ACEDIVRC",     # ¿Fueron tus padres separados o divorciados? [experiencias adversas infancia]
    "ACEHURT1",     # Sin incluir las nalgadas (antes de los 18 años), ¿con qué frecuencia un padre o un adulto de tu hogar te golpeó, te pateó o te lastimó físicamente de alguna manera? ¿Fue...? [experiencias adversas infancia]
    "ACESWEAR",     # ¿Con qué frecuencia un padre o un adulto en su hogar le insultó, le menospreció o le insultó?
    "ACETOUCH",     # ¿Con qué frecuencia alguien al menos 5 años mayor que usted o un adulto le tocó sexualmente?
    "ACETTHEM",     # ¿Con qué frecuencia alguien al menos 5 años mayor que usted o un adulto intentó obligarlo a tocarlo sexualmente?
    "ACEHVSEX",     # ¿Con qué frecuencia alguien al menos 5 años mayor que usted o un adulto le obligó a tener relaciones sexuales?
    "LSATISFY",     # En general, ¿qué tan satisfecho estás con tu vida?
    "EMTSUPRT",     # ¿Con qué frecuencia recibe usted el apoyo social y emocional que necesita?
    "SDHISOLT",     # ¿Con qué frecuencia te sientes aislado socialmente de los demás? ¿Es…?
    "SDHEMPLY",     # ¿En los últimos 12 meses ha perdido su empleo o le han reducido sus horas de trabajo?
    "SDHFOOD1",     # Durante los últimos 12 meses, ¿con qué frecuencia no te duró la comida que compraste y no tuviste dinero para comprar más? ¿Fue eso…?
    "SDHBILLS",     # Durante los últimos 12 meses, ¿hubo algún momento en el que no pudo pagar su hipoteca, alquiler o facturas de servicios públicos?
    "SDHUTILS",     # Durante los últimos 12 meses, ¿hubo alguna ocasión en que una compañía de electricidad, gas, petróleo o agua amenazó con cortar los servicios?
    "SDHTRNSP",     # Durante los últimos 12 meses, ¿la falta de transporte confiable le ha impedido asistir a citas médicas, reuniones, trabajar o conseguir las cosas que necesita para la vida diaria?
    "MARIJAN1",     # Durante los últimos 30 días, ¿cuántos días consumiste marihuana o cannabis?
    "MARJSMOK",     # Durante los últimos 30 días, ¿lo fumó (por ejemplo, en un porro, bong, pipa o blunt)?
    "MARJEAT",      # …comerlo o beberlo (por ejemplo, en brownies, pasteles, galletas o dulces, o en té, cola o alcohol)? (Referente al consumo de marihuana)
    "MARJVAPE",     # …vaporizarlo (por ejemplo, en un vaporizador tipo cigarrillo electrónico u otro dispositivo de vaporización) (Referente al consumo de marihuana)
    "MARJDAB",      # …dab (por ejemplo, usando un equipo para dabbing, un cuchillo o un bolígrafo para dabbing)? (Referente al consumo de marihuana)
    "MARJOTHR",     # …utilizarlo de alguna otra manera? (Referente al consumo de marihuana)
    "ASBIALCH",     # Me comentó antes que su último chequeo médico fue [hace un año/hace dos años]. En ese chequeo, ¿le preguntaron en persona o mediante un formulario si bebía alcohol?
    "ASBIDRNK",     # ¿El proveedor de atención médica le preguntó en persona o mediante un formulario cuánto bebe?
    "ASBIBING",     # ¿El proveedor de atención médica le preguntó específicamente si usted bebió [5 PARA HOMBRES / 4 PARA MUJERES] o más bebidas alcohólicas en alguna ocasión?
    "FIREARM5",     # ¿Tiene actualmente armas de fuego guardadas dentro o alrededor de su casa?
    "GUNLOAD",      # ¿Alguna de estas armas de fuego está cargada ahora?
    "LOADULK2",     # ¿Alguna de estas armas de fuego cargadas también está desbloqueada?
    "_RFHLTH",      # Adultos con buena o mejor salud
    "_PHYS14D",     # Estado de salud física no buena de 3 niveles: 0 días, 1-13 días, 14-30 días
    "_MENT14D",     # Estado de salud mental no buena de 3 niveles: 0 días, 1-13 días, 14-30 días
    "_HLTHPLN",     # Adultos que tenían algún tipo de seguro de salud
    "_TOTINDA",     # Adultos que informaron haber realizado actividad física o ejercicio durante los últimos 30 días aparte de su trabajo habitual
    "_MICHD",       # Encuestados que alguna vez informaron haber tenido enfermedad cardíaca coronaria (EC) o infarto de miocardio (IM)
    "_ASTHMS1",     # Estado de asma calculado
    "_DRDXAR2",     # Encuestados a quienes un médico les ha diagnosticado algún tipo de artritis
    "_AGEG5YR",     # Categoría de edad de catorce niveles
    "_BMI5CAT",     # Cuatro categorías del índice de masa corporal (IMC)
    "_CHLDCNT",     # Numero de niños en el hogar
    "_EDUCAG",      # Nivel de educación completado
    "_INCOMG1",     # Categorías de ingresos
    "_RFSMOK3",     # Adultos que son fumadores actuales
    "DRNKANY6",     # Adultos que informaron haber consumido al menos una bebida alcohólica en los últimos 30 días
    "_RFBING6",     # Bebedores compulsivos (hombres que beben cinco o más bebidas en una ocasión, mujeres que beben cuatro o más bebidas en una ocasión)
    "_AIDTST4",     # Adultos que alguna vez se han hecho la prueba del VIH
]

len(keep_vars)

79

In [39]:
df_selected = df_original[keep_vars]
df_selected

,HHADULT,SEXVAR,PERSDOC3,MEDCOST1,EXERANY2,SLEPTIM1,CVDINFR4,CVDSTRK3,ADDEPEV3,DIABETE4,...,_DRDXAR2,_AGEG5YR,_BMI5CAT,_CHLDCNT,_EDUCAG,_INCOMG1,_RFSMOK3,DRNKANY6,_RFBING6,_AIDTST4
0,NaN,2.0,1.0,2.0,2.0,8.0,2.0,2.0,2.0,1.0,...,2.0,13.0,NaN,1.0,4.0,9.0,1.0,2.0,1.0,2.0
1,NaN,2.0,2.0,2.0,2.0,6.0,2.0,2.0,2.0,3.0,...,2.0,13.0,3.0,1.0,2.0,3.0,1.0,2.0,1.0,2.0
2,NaN,2.0,1.0,2.0,1.0,5.0,2.0,2.0,2.0,3.0,...,2.0,8.0,3.0,1.0,4.0,6.0,1.0,2.0,1.0,2.0
3,NaN,2.0,1.0,2.0,1.0,7.0,2.0,2.0,2.0,3.0,...,1.0,14.0,2.0,1.0,2.0,9.0,2.0,2.0,1.0,2.0
4,NaN,2.0,2.0,2.0,1.0,9.0,2.0,2.0,2.0,3.0,...,2.0,5.0,2.0,1.0,3.0,3.0,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,5.0,2.0,3.0,2.0,1.0,6.0,2.0,2.0,1.0,3.0,...,2.0,1.0,3.0,2.0,2.0,1.0,1.0,7.0,9.0,1.0
445128,2.0,2.0,2.0,2.0,1.0,7.0,2.0,2.0,2.0,3.0,...,2.0,7.0,3.0,2.0,4.0,5.0,1.0,2.0,1.0,1.0
445129,1.0,2.0,3.0,1.0,2.0,5.0,2.0,2.0,2.0,3.0,...,2.0,10.0,1.0,1.0,2.0,9.0,2.0,7.0,9.0,2.0
445130,2.0,1.0,2.0,2.0,2.0,5.0,1.0,2.0,2.0,3.0,...,2.0,11.0,4.0,1.0,3.0,5.0,1.0,2.0,1.0,1.0
445131,1.0,1.0,3.0,1.0,1.0,5.0,2.0,2.0,2.0,3.0,...,2.0,5.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0

In [40]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Index: 353271 entries, 0 to 445131
Data columns (total 79 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   HHADULT   271116 non-null  float64
 1   SEXVAR    353271 non-null  float64
 2   PERSDOC3  353271 non-null  float64
 3   MEDCOST1  353269 non-null  float64
 4   EXERANY2  353271 non-null  float64
 5   SLEPTIM1  353271 non-null  float64
 6   CVDINFR4  353270 non-null  float64
 7   CVDSTRK3  353271 non-null  float64
 8   ADDEPEV3  353266 non-null  float64
 9   DIABETE4  353271 non-null  float64
 10  MARITAL   353269 non-null  float64
 11  RENTHOM1  353270 non-null  float64
 12  VETERAN3  353271 non-null  float64
 13  EMPLOY1   353271 non-null  float64
 14  DECIDE    353270 non-null  float64
 15  DIFFALON  353270 non-null  float64
 16  COLNCNCR  253786 non-null  float64
 17  SMOKE100  353270 non-null  float64
 18  USENOW3   353270 non-null  float64
 19  ECIGNOW2  353270 non-null  float64
 20  ALCDAY4   353270 non-null  float64
 21  AVEDRNK3  182711 non-null  float64
 22  DRNK3GE5  182710 non-null  float64
 23  MAXDRNKS  182711 non-null  float64
 24  HIVRISK5  353270 non-null  float64
 25  COVIDPOS  353270 non-null  float64
 26  CDSOCIAL  7009 non-null    float64
 27  CDDISCUS  7009 non-null    float64
 28  CAREGIV1  90300 non-null   float64
 29  CRGVREL4  17921 non-null   float64
 30  CRGVLNG1  17921 non-null   float64
 31  CRGVHRS1  17921 non-null   float64
 32  ACEDEPRS  46058 non-null   float64
 33  ACEDRINK  46058 non-null   float64
 34  ACEDRUGS  46058 non-null   float64
 35  ACEPRISN  46058 non-null   float64
 36  ACEDIVRC  46058 non-null   float64
 37  ACEHURT1  46058 non-null   float64
 38  ACESWEAR  46058 non-null   float64
 39  ACETOUCH  46058 non-null   float64
 40  ACETTHEM  46058 non-null   float64
 41  ACEHVSEX  46058 non-null   float64
 42  LSATISFY  241618 non-null  float64
 43  EMTSUPRT  241618 non-null  float64
 44  SDHISOLT  241618 non-null  float64
 45  SDHEMPLY  241618 non-null  float64
 46  SDHFOOD1  241618 non-null  float64
 47  SDHBILLS  241617 non-null  float64
 48  SDHUTILS  241618 non-null  float64
 49  SDHTRNSP  241617 non-null  float64
 50  MARIJAN1  91264 non-null   float64
 51  MARJSMOK  11028 non-null   float64
 52  MARJEAT   11028 non-null   float64
 53  MARJVAPE  11028 non-null   float64
 54  MARJDAB   11028 non-null   float64
 55  MARJOTHR  11028 non-null   float64
 56  ASBIALCH  56132 non-null   float64
 57  ASBIDRNK  56132 non-null   float64
 58  ASBIBING  56132 non-null   float64
 59  FIREARM5  36068 non-null   float64
 60  GUNLOAD   12669 non-null   float64
 61  LOADULK2  3705 non-null    float64
 62  _RFHLTH   353271 non-null  float64
 63  _PHYS14D  353271 non-null  float64
 64  _MENT14D  353271 non-null  float64
 65  _HLTHPLN  353271 non-null  float64
 66  _TOTINDA  353271 non-null  float64
 67  _MICHD    349441 non-null  float64
 68  _ASTHMS1  353271 non-null  float64
 69  _DRDXAR2  351241 non-null  float64
 70  _AGEG5YR  353271 non-null  float64
 71  _BMI5CAT  329865 non-null  float64
 72  _CHLDCNT  353270 non-null  float64
 73  _EDUCAG   353271 non-null  float64
 74  _INCOMG1  353271 non-null  float64
 75  _RFSMOK3  353271 non-null  float64
 76  DRNKANY6  353271 non-null  float64
 77  _RFBING6  353271 non-null  float64
 78  _AIDTST4  353270 non-null  float64
dtypes: float64(79)
memory usage: 215.6 MB

In [41]:
# Eliminacion de columnas por alto porcentaje de nulos

null_columns = ["CDSOCIAL", "CDDISCUS", "CDDISCUS", "CAREGIV1", "CRGVREL4", "CRGVLNG1", "CRGVHRS1", "ACEDEPRS", "ACEDRINK", "ACEDRUGS", 
                "ACEPRISN", "ACEDIVRC", "ACEHURT1", "ACESWEAR", "ACETOUCH", "ACETTHEM", "ACEHVSEX", "MARIJAN1", "MARJSMOK", 
                "MARJEAT", "MARJVAPE", "MARJDAB", "MARJOTHR", "ASBIALCH", "ASBIDRNK", "ASBIBING", "FIREARM5", "GUNLOAD", 
                "LOADULK2"]

len(null_columns)

29

In [42]:
df_selected = df_selected.drop(columns=null_columns)
df_selected

,HHADULT,SEXVAR,PERSDOC3,MEDCOST1,EXERANY2,SLEPTIM1,CVDINFR4,CVDSTRK3,ADDEPEV3,DIABETE4,...,_DRDXAR2,_AGEG5YR,_BMI5CAT,_CHLDCNT,_EDUCAG,_INCOMG1,_RFSMOK3,DRNKANY6,_RFBING6,_AIDTST4
0,NaN,2.0,1.0,2.0,2.0,8.0,2.0,2.0,2.0,1.0,...,2.0,13.0,NaN,1.0,4.0,9.0,1.0,2.0,1.0,2.0
1,NaN,2.0,2.0,2.0,2.0,6.0,2.0,2.0,2.0,3.0,...,2.0,13.0,3.0,1.0,2.0,3.0,1.0,2.0,1.0,2.0
2,NaN,2.0,1.0,2.0,1.0,5.0,2.0,2.0,2.0,3.0,...,2.0,8.0,3.0,1.0,4.0,6.0,1.0,2.0,1.0,2.0
3,NaN,2.0,1.0,2.0,1.0,7.0,2.0,2.0,2.0,3.0,...,1.0,14.0,2.0,1.0,2.0,9.0,2.0,2.0,1.0,2.0
4,NaN,2.0,2.0,2.0,1.0,9.0,2.0,2.0,2.0,3.0,...,2.0,5.0,2.0,1.0,3.0,3.0,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,5.0,2.0,3.0,2.0,1.0,6.0,2.0,2.0,1.0,3.0,...,2.0,1.0,3.0,2.0,2.0,1.0,1.0,7.0,9.0,1.0
445128,2.0,2.0,2.0,2.0,1.0,7.0,2.0,2.0,2.0,3.0,...,2.0,7.0,3.0,2.0,4.0,5.0,1.0,2.0,1.0,1.0
445129,1.0,2.0,3.0,1.0,2.0,5.0,2.0,2.0,2.0,3.0,...,2.0,10.0,1.0,1.0,2.0,9.0,2.0,7.0,9.0,2.0
445130,2.0,1.0,2.0,2.0,2.0,5.0,1.0,2.0,2.0,3.0,...,2.0,11.0,4.0,1.0,3.0,5.0,1.0,2.0,1.0,1.0
445131,1.0,1.0,3.0,1.0,1.0,5.0,2.0,2.0,2.0,3.0,...,2.0,5.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0

### Creación de `tobacco_use`: riesgo acumulativo por uso de nicotina

Se construye una variable `tobacco_use` que unifica el consumo actual de nicotina en diferentes formatos:

- `_RFSMOK3`: fumador actual de cigarrillos tradicionales
- `ECIGNOW2`: uso actual de cigarrillos electrónicos (vapeo)
- `USENOW3`: uso actual de tabaco sin combustión (snus, masticable, etc.)

#### ✅ Se prefiere este enfoque por:
- Reflejar de forma acumulativa la exposición **actual** a nicotina, sin limitarse a un solo tipo de producto.
- Capturar mejor el riesgo asociado a salud mental, que está más ligado al consumo presente que al histórico.

#### ❌ Se elimina `SMOKE100` porque:
- Mide solo si alguna vez se fumaron 100 cigarrillos (exposición pasada).
- No distingue entre fumadores actuales y antiguos.
- Su información ya está contenida de forma más útil en `_RFSMOK3`.

> El resultado es una variable compuesta `tobacco_use` que toma valores de 0 a 3, según la cantidad de formas activas de consumo de tabaco o nicotina.

⚠️ **Nota:** antes de realizar la suma, se revisa la codificación de cada variable para asegurarse de que los valores estén normalizados (por ejemplo, que “no consumo” esté codificado como 0) y evitar que códigos por defecto (como 7 = “no sabe” o 9 = “sin respuesta”) generen resultados incoherentes.

In [43]:
df_selected = df_selected.drop("SMOKE100", axis=1)

In [47]:
df_selected["_RFSMOK3"].value_counts()

_RFSMOK3
1.0    308679
2.0     41779
9.0      2813
Name: count, dtype: int64

In [48]:
# Mapeo y recodificacion [No >> 0, Si >> 1, No contesta >> NaN]
df_selected["_RFSMOK3"] = df_selected["_RFSMOK3"].map({
    1:0, 2:1, 9:np.nan
})

df_selected["_RFSMOK3"].value_counts()

_RFSMOK3
0.0    308679
1.0     41779
Name: count, dtype: int64

In [49]:
df_selected["USENOW3"].value_counts()

USENOW3
3.0    342000
1.0      6077
2.0      4335
9.0       563
7.0       295
Name: count, dtype: int64

In [50]:
# Mapeo y recodificacion [No >> 0, Si >> 1, No contesta >> NaN]
df_selected["USENOW3"] = df_selected["USENOW3"].map({
    1:1, 2:1, 3:0, 7:np.nan, 9:np.nan
})

df_selected["USENOW3"].value_counts()

USENOW3
0.0    342000
1.0     10412
Name: count, dtype: int64

In [51]:
df_selected["ECIGNOW2"].value_counts()

ECIGNOW2
1.0    271027
4.0     62768
3.0      9492
2.0      8420
9.0       823
7.0       740
Name: count, dtype: int64

In [52]:
# Mapeo y recodificacion [No >> 0, Si >> 1, No contesta >> NaN]
df_selected["ECIGNOW2"] = df_selected["ECIGNOW2"].map({
    1:0, 2:1, 3:1, 4:0, 7:np.nan, 9:np.nan
})

df_selected["ECIGNOW2"].value_counts()

ECIGNOW2
0.0    333795
1.0     17912
Name: count, dtype: int64

In [53]:
df_selected = df_selected.dropna(subset=["_RFSMOK3", "USENOW3", "ECIGNOW2"])

df_selected["tobacco_use"] = df_selected[["_RFSMOK3", "USENOW3", "ECIGNOW2"]].sum(axis=1)

df_selected = df_selected.drop(["_RFSMOK3", "USENOW3", "ECIGNOW2"], axis=1)

## Análisis de features con significado literal redundante o ya contenidas de forma más general en otro feature

### Comparativa: `PERSDOC3` vs `_HLTHPLN`
Ambas columnas se refieren a acceso al sistema de salud.

#### ✅ Se prefiere `_HLTHPLN` por:
- Mide acceso real al sistema de salud, no solo a un profesional específico.
- Es menos dependiente de la percepción personal (alguien puede tener seguro médico sin tener un "doctor personal").

In [54]:
df_selected = df_selected.drop("PERSDOC3", axis=1)

### Comparativa: `EXERANY2` vs `_TOTINDA`
Ambas columnas se refieren a ejercicios y actividad física.

#### ✅ Se prefiere `_TOTINDA` por:
- Es una variable derivada estandarizada por CDC que resume si el encuestado cumple con criterios de actividad física regular.
- Evita ambigüedades del autoinforme directo, al integrar varias preguntas relacionadas y aplicar una recodificación coherente.

In [55]:
df_selected = df_selected.drop("EXERANY2", axis=1)

### Comparativa: `CVDINFR4` vs `_MICHD`
Ambas columnas se refieren a antecedentes de enfermedad cardiovascular.

#### ✅ Se prefiere `_MICHD` por:
- Es una variable derivada que resume si el encuestado ha sido diagnosticado con enfermedad cardíaca coronaria o infarto de miocardio.
- Permite capturar con mayor cobertura dos condiciones graves bajo una sola codificación estandarizada.

In [56]:
df_selected = df_selected.drop("CVDINFR4", axis=1)

### Comparativa: `_RFBING6` vs `ALCDAY4`, `AVEDRNK3`, `DRNK3GE5`, `MAXDRNKS`, `DRNKANY6`
Todas estas variables abordan el consumo de alcohol reciente.

#### ✅ Se prefiere `_RFBING6` por:
- Es una variable derivada y dicotómica que identifica bebedores compulsivos según criterios CDC (5+ bebidas en hombres, 4+ en mujeres en una ocasión).
- Resume y normaliza varios aspectos del consumo (frecuencia, cantidad y episodios de alto riesgo), facilitando su uso directo en modelos y análisis de salud mental.

In [57]:
df_selected = df_selected.drop(["ALCDAY4", "AVEDRNK3", "DRNK3GE5", "MAXDRNKS", "DRNKANY6"], axis=1)

### Comparativa _RFHLTH vs _PHYS14D, _MENT14D  
#### ❌ Se elimina `_RFHLTH` por:
- Es una variable resumen derivada de _PHYS14D y _MENT14D (evalúa si la salud física o mental fue mala ≥14 días).
- Se pierde granularidad al usarla: usar las variables originales permite separar los efectos físicos y mentales, más útil para modelos centrados en salud mental.

In [58]:
df_selected = df_selected.drop("_RFHLTH", axis=1)

In [60]:
df_selected.shape

(349067, 39)

In [61]:
df = df_selected.dropna()
df

,HHADULT,SEXVAR,MEDCOST1,SLEPTIM1,CVDSTRK3,ADDEPEV3,DIABETE4,MARITAL,RENTHOM1,VETERAN3,...,_ASTHMS1,_DRDXAR2,_AGEG5YR,_BMI5CAT,_CHLDCNT,_EDUCAG,_INCOMG1,_RFBING6,_AIDTST4,tobacco_use
1211,2.0,2.0,2.0,6.0,2.0,1.0,3.0,1.0,1.0,2.0,...,3.0,2.0,9.0,2.0,1.0,4.0,5.0,1.0,2.0,0.0
1214,4.0,2.0,2.0,7.0,2.0,2.0,3.0,1.0,1.0,2.0,...,3.0,2.0,9.0,3.0,1.0,4.0,9.0,1.0,2.0,0.0
1216,2.0,2.0,2.0,7.0,2.0,2.0,3.0,1.0,2.0,2.0,...,3.0,1.0,7.0,4.0,1.0,2.0,3.0,1.0,2.0,0.0
1217,2.0,1.0,2.0,6.0,2.0,2.0,1.0,1.0,1.0,2.0,...,3.0,2.0,7.0,4.0,1.0,3.0,6.0,1.0,2.0,0.0
1223,2.0,1.0,2.0,5.0,2.0,2.0,3.0,1.0,1.0,1.0,...,3.0,2.0,9.0,4.0,1.0,3.0,4.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445120,1.0,1.0,2.0,6.0,2.0,2.0,3.0,2.0,1.0,2.0,...,3.0,1.0,9.0,3.0,1.0,3.0,6.0,2.0,2.0,1.0
445124,4.0,1.0,2.0,7.0,1.0,2.0,1.0,1.0,2.0,2.0,...,3.0,1.0,10.0,3.0,1.0,4.0,6.0,1.0,1.0,0.0
445128,2.0,2.0,2.0,7.0,2.0,2.0,3.0,1.0,1.0,1.0,...,3.0,2.0,7.0,3.0,2.0,4.0,5.0,1.0,1.0,0.0
445129,1.0,2.0,1.0,5.0,2.0,2.0,3.0,1.0,3.0,2.0,...,3.0,2.0,10.0,1.0,1.0,2.0,9.0,9.0,2.0,2.0
445130,2.0,1.0,2.0,5.0,2.0,2.0,3.0,1.0,2.0,2.0,...,2.0,2.0,11.0,4.0,1.0,3.0,5.0,1.0,1.0,0.0

In [62]:
df.to_csv("data_1_selected_39.csv", index=False)