In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/workspaces/Final_Project_DataScient/data/interim/data_limpia.zip')
df

,MARITAL,RENTHOM1,VETERAN3,EMPLOY1,_AGEG5YR,_INCOMG1,_EDUCAG,_CHLDCNT,_EXTETH3,HHADULT,...,ACEPRISN,ACEDIVRC,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX,FIREARM5,GUNLOAD,LOADULK2
0,1.0,1.0,2.0,7.0,13.0,9.0,4.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,1.0,2.0,2.0,13.0,3.0,2.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,2.0,7.0,8.0,6.0,4.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,2.0,7.0,14.0,9.0,2.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,2.0,5.0,5.0,3.0,3.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,5.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445128,1.0,1.0,1.0,1.0,7.0,5.0,4.0,2.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445129,1.0,3.0,2.0,8.0,10.0,9.0,2.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445130,1.0,2.0,2.0,7.0,11.0,5.0,3.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445131,3.0,1.0,2.0,1.0,5.0,2.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.drop(columns=["MARIJAN1","MARJSMOK","HADHYST2", "MARJEAT","FLUSHOT7", 
                      "_RFHLTH","CVDINFR4","MARJVAPE", "MARJDAB",
                     "MARJOTHR","ALCDAY4", "AVEDRNK3", 
                     "DRNK3GE5", "MAXDRNKS", "ASBIALCH",
                     "ASBIDRNK", "ASBIBING", "DRNKANY6", 
                     "PERSDOC3", "EXERANY2", "SMOKE100", "USENOW3",
                     "ACEDEPRS", "ACEDRINK", "ACEDRUGS", "ACEPRISN", "ACEDIVRC", 
                     "ACEHURT1", "ACESWEAR", "ACETOUCH", "ACETTHEM", "ACEHVSEX",
                     "CDSOCIAL","CDDISCUS", "CRGVHRS1", "CRGVLNG1", "CRGVREL4", "_EXTETH3",
                     "CAREGIV1", "FIREARM5", "GUNLOAD", "LOADULK2"
                       ])

In [5]:
df.columns

Index(['MARITAL', 'RENTHOM1', 'VETERAN3', 'EMPLOY1', '_AGEG5YR', '_INCOMG1',
       '_EDUCAG', '_CHLDCNT', 'HHADULT', 'SEXVAR', 'MEDCOST1', '_HLTHPLN',
       '_AIDTST4', 'SDHEMPLY', 'SDHFOOD1', 'SDHUTILS', 'SDHBILLS', 'SDHTRNSP',
       'SLEPTIM1', 'ECIGNOW2', 'HIVRISK5', '_TOTINDA', '_RFSMOK3', '_RFBING6',
       'CVDSTRK3', 'ADDEPEV3', 'DIABETE4', 'COVIDPOS', 'COLNCNCR', '_MICHD',
       '_ASTHMS1', '_DRDXAR2', '_PHYS14D', '_MENT14D', '_BMI5CAT', 'DECIDE',
       'DIFFALON', 'LSATISFY', 'EMTSUPRT', 'SDHISOLT'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 40 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   MARITAL   445124 non-null  float64
 1   RENTHOM1  445123 non-null  float64
 2   VETERAN3  440959 non-null  float64
 3   EMPLOY1   438936 non-null  float64
 4   _AGEG5YR  445132 non-null  float64
 5   _INCOMG1  445132 non-null  float64
 6   _EDUCAG   445132 non-null  float64
 7   _CHLDCNT  445131 non-null  float64
 8   HHADULT   349071 non-null  float64
 9   SEXVAR    445132 non-null  float64
 10  MEDCOST1  445128 non-null  float64
 11  _HLTHPLN  445132 non-null  float64
 12  _AIDTST4  398897 non-null  float64
 13  SDHEMPLY  253515 non-null  float64
 14  SDHFOOD1  252829 non-null  float64
 15  SDHUTILS  252279 non-null  float64
 16  SDHBILLS  252522 non-null  float64
 17  SDHTRNSP  251943 non-null  float64
 18  SLEPTIM1  445129 non-null  float64
 19  ECIGNOW2  411553 non-null  float64
 20  HIVRISK5  396671 non-null  float64
 21  _TOTINDA  445132 non-null  float64
 22  _RFSMOK3  445132 non-null  float64
 23  _RFBING6  445132 non-null  float64
 24  CVDSTRK3  445130 non-null  float64
 25  ADDEPEV3  445125 non-null  float64
 26  DIABETE4  445129 non-null  float64
 27  COVIDPOS  395897 non-null  float64
 28  COLNCNCR  291086 non-null  float64
 29  _MICHD    440111 non-null  float64
 30  _ASTHMS1  445132 non-null  float64
 31  _DRDXAR2  442499 non-null  float64
 32  _PHYS14D  445132 non-null  float64
 33  _MENT14D  445132 non-null  float64
 34  _BMI5CAT  396326 non-null  float64
 35  DECIDE    424146 non-null  float64
 36  DIFFALON  421190 non-null  float64
 37  LSATISFY  254488 non-null  float64
 38  EMTSUPRT  254141 non-null  float64
 39  SDHISOLT  253790 non-null  float64
dtypes: float64(40)
memory usage: 135.8 MB

In [7]:
#tabaco
# 1: No, 2: Yes >> Cambiar a 1: Yes, 0: No
df = df[df["_RFSMOK3"] < 3]
df.loc[df["_RFSMOK3"] == 1, "_RFSMOK3"] = 0
df.loc[df["_RFSMOK3"] == 2, "_RFSMOK3"] = 1
df._RFSMOK3.value_counts()
# 1: No, 2, 3 o 4: Yes >> Cambiar a 1: Yes, 0: No
df = df[df["ECIGNOW2"] < 7]
df.loc[df["ECIGNOW2"] == 1, "ECIGNOW2"] = 0
df.loc[df["ECIGNOW2"] > 1, "ECIGNOW2"] = 1
df.ECIGNOW2.value_counts()
tobacco_columns = ["_RFSMOK3", "ECIGNOW2"]
# Se imputa 0 a los valores vacios que indican no respuesta a la pregunta asumiendo respuesta negativa
df = df.dropna(subset=tobacco_columns)
df["tobacco_use"] = df[tobacco_columns].sum(axis=1)
df = df.drop(tobacco_columns, axis=1)
df["tobacco_use"].value_counts()

tobacco_use
0.0    286153
1.0     94954
2.0     25548
Name: count, dtype: int64

In [8]:
#Alcohol
# 1: No, 2: Yes >> Cambiar a 1: Yes, 0: No
df.loc[df["_RFBING6"] > 2, "_RFBING6"] = -1
df.loc[df["_RFBING6"] == 1, "_RFBING6"] = 0
df.loc[df["_RFBING6"] == 2, "_RFBING6"] = 1
df._RFBING6.value_counts()

_RFBING6
 0.0    333929
 1.0     56333
-1.0     16393
Name: count, dtype: int64

In [9]:
#aislamiento social
# 1, 2 y 3: Aislado, 4 y 5: No aislado >> Cambiar a 1: Aislado, 0: No aislado
df.loc[df["SDHISOLT"] <= 3, "SDHISOLT"] = 1
df.loc[(df["SDHISOLT"] == 4) | (df["SDHISOLT"] == 5), "SDHISOLT"] = 0
df.loc[df["SDHISOLT"] > 5, "SDHISOLT"] = -1
df["SDHISOLT"].value_counts()

SDHISOLT
 0.0    175059
 1.0     73489
-1.0      2334
Name: count, dtype: int64

In [10]:
df.loc[df["EMTSUPRT"] <= 2, "EMTSUPRT"] = 1
df.loc[(df["EMTSUPRT"] == 3) | (df["EMTSUPRT"] == 4) | (df["EMTSUPRT"] == 5), "EMTSUPRT"] = 0
df.loc[df["EMTSUPRT"] > 5, "EMTSUPRT"] = -1
df["EMTSUPRT"].value_counts()

EMTSUPRT
 1.0    194073
 0.0     53326
-1.0      3828
Name: count, dtype: int64

In [11]:
df = df.dropna(subset=[col for col in df.columns if col != "MARIJAN1"])
df.shape

(114721, 39)

In [12]:
# Lo llevamos a una variable binaria.
# Eliminamos NAN y los valores 7 y 9 (Donâ€™t know/Refused/Missing)
# Pasamos 2 (no) a 0
df['ADDEPEV3'].dropna()
df = df[~df["ADDEPEV3"].isin([9,7])]
df.loc[df["ADDEPEV3"] == 2, "ADDEPEV3"] = 0
print(df["ADDEPEV3"].value_counts())
print(df.shape)

ADDEPEV3
0.0    90802
1.0    23511
Name: count, dtype: int64
(114313, 39)

In [13]:
# Examen de colon - Â¿Te lo haz hecho?
df.loc[df["COLNCNCR"] == 2, "COLNCNCR"] = 0 #no
df.loc[df["COLNCNCR"] > 5, "COLNCNCR"] = -1 #no sabe

# Ver distribuciÃ³n de valores
print(df["COLNCNCR"].value_counts())

COLNCNCR
 0.0    87534
 1.0    24007
-1.0     2772
Name: count, dtype: int64

In [14]:
# Â¿Haz tenido una enfermada del corazon? 
df.loc[df["_MICHD"] == 2, "_MICHD"] = 0 #no

# Ver distribuciÃ³n de valores
print(df["_MICHD"].value_counts())

_MICHD
0.0    101531
1.0     12782
Name: count, dtype: int64

In [15]:
# Â¿haz tenido asma?
df.loc[df["_ASTHMS1"] == 9, "_ASTHMS1"] = -1 #missing

# Ver distribuciÃ³n de valores
print(df["_ASTHMS1"].value_counts())

_ASTHMS1
 3.0    97394
 1.0    11944
 2.0     4219
-1.0      756
Name: count, dtype: int64

In [16]:
# enfermedad de artritis
df.loc[df["_DRDXAR2"] == 2, "_DRDXAR2"] = 0 #no

# Ver distribuciÃ³n de valores
print(df["_DRDXAR2"].value_counts())

_DRDXAR2
0.0    66286
1.0    48027
Name: count, dtype: int64

In [17]:
# Mala salud fisica de 0 (no), de 1 a 30 dias (si)
df.loc[df["_PHYS14D"] == 1, "_PHYS14D"] = 0 #no
df.loc[df["_PHYS14D"] == 2, "_PHYS14D"] = 1 #-13dias
df.loc[df["_PHYS14D"] == 3, "_PHYS14D"] = 2 #+13 dias
df.loc[df["_PHYS14D"] == 9, "_PHYS14D"] = -1 #missing

# Ver distribuciÃ³n de valores
print(df["_PHYS14D"].value_counts())

_PHYS14D
 0.0    68190
 1.0    26681
 2.0    16986
-1.0     2456
Name: count, dtype: int64

In [18]:
# Mala salud metal de 0, (no) a 30 dias (si)
df.loc[df["_MENT14D"] == 1, "_MENT14D"] = 0 #0 dia
df.loc[df["_MENT14D"] == 2, "_MENT14D"] = 1 #-13 dias
df.loc[df["_MENT14D"] == 3, "_MENT14D"] = 2 #+13 dias
df.loc[df["_MENT14D"] == 9, "_MENT14D"] = -1 #missing
print(df["_MENT14D"].value_counts())

_MENT14D
 0.0    74545
 1.0    24859
 2.0    12968
-1.0     1941
Name: count, dtype: int64

In [19]:
# Indice de peso corporal
df.loc[df["_BMI5CAT"] == 1, "_BMI5CAT"] = 0 #bajo peso
df.loc[df["_BMI5CAT"] == 2, "_BMI5CAT"] = 1 #peso normal
df.loc[df["_BMI5CAT"] == 3, "_BMI5CAT"] = 2 #sobrepeso
df.loc[df["_BMI5CAT"] == 4, "_BMI5CAT"] = 3 #obeso
df.loc[df["_BMI5CAT"] == 9, "_BMI5CAT"] = -1 #missing
print(df["_BMI5CAT"].value_counts())

_BMI5CAT
2.0    42636
3.0    40617
1.0    29666
0.0     1394
Name: count, dtype: int64

In [20]:
# Dificultad para concentrarse
df.loc[df["DECIDE"] == 2, "DECIDE"] = 0 #no
df.loc[df["DECIDE"] > 5, "DECIDE"] = -1 #missing
print(df["DECIDE"].value_counts())

DECIDE
 0.0    101587
 1.0     12118
-1.0       608
Name: count, dtype: int64

In [21]:
# Dificultad para hacer alguna activida fisica (lesion)
df.loc[df["DIFFALON"] == 2, "DIFFALON"] = 0 #no
df.loc[df["DIFFALON"] > 5, "DIFFALON"] = -1 #missing
print(df["DIFFALON"].value_counts())

DIFFALON
 0.0    105692
 1.0      8366
-1.0       255
Name: count, dtype: int64

In [22]:
df.loc[df["COVIDPOS"] == 2, "COVIDPOS"] = 0 #no
df.loc[df["COVIDPOS"] == 1, "COVIDPOS"] = 2 #no
df.loc[df["COVIDPOS"] == 3, "COVIDPOS"] = 1 #no
df.loc[df["COVIDPOS"] > 3, "COVIDPOS"] = -1 #missing
print(df["COVIDPOS"].value_counts())

COVIDPOS
 0.0    78840
 2.0    31005
 1.0     4196
-1.0      272
Name: count, dtype: int64

In [23]:
# satisfacion con la vida
df.loc[df["LSATISFY"] == 1, "LSATISFY"] = 0 #muy satisfecho
df.loc[df["LSATISFY"] == 2, "LSATISFY"] = 1 #satisfecho
df.loc[df["LSATISFY"] == 3, "LSATISFY"] = 2 #insatisfecho
df.loc[df["LSATISFY"] == 4, "LSATISFY"] = 3 #muy insatisfecho
df.loc[df["LSATISFY"] > 5, "LSATISFY"] = -1 #missing
print(df["LSATISFY"].value_counts())

LSATISFY
 0.0    55624
 1.0    52141
 2.0     4300
 3.0     1299
-1.0      949
Name: count, dtype: int64

In [24]:
df.loc[df["_AIDTST4"] == 2, "_AIDTST4"] = 0
df.loc[df["_AIDTST4"] == 9, "_AIDTST4"] = -1

df['_AIDTST4'].value_counts()

_AIDTST4
 0.0    72206
 1.0    36457
-1.0     5650
Name: count, dtype: int64

In [25]:
df["MARITAL"] = df["MARITAL"] - 1 
df.loc[df["MARITAL"] == 8, "MARITAL"] = -1

df['MARITAL'].value_counts()

MARITAL
 0.0    68300
 1.0    19328
 2.0    11595
 4.0     9037
 5.0     3067
 3.0     2380
-1.0      606
Name: count, dtype: int64

In [26]:
df["RENTHOM1"] = df["RENTHOM1"] - 1 
df.loc[df["RENTHOM1"] > 5, "RENTHOM1"] = -1
df['RENTHOM1'].value_counts()

RENTHOM1
 0.0    90752
 1.0    19708
 2.0     3251
-1.0      602
Name: count, dtype: int64

In [27]:
df.loc[df["VETERAN3"] == 2, "VETERAN3"] = 0 
df.loc[df["VETERAN3"] > 3, "VETERAN3"] = -1
df['VETERAN3'].value_counts()

VETERAN3
 0.0    97650
 1.0    16502
-1.0      161
Name: count, dtype: int64

In [28]:
df["EMPLOY1"] = df["EMPLOY1"] - 1 
df.loc[df["EMPLOY1"] == 8, "EMPLOY1"] = -1

df['EMPLOY1'].value_counts()

EMPLOY1
 0.0    44029
 6.0    41932
 1.0    11629
 7.0     8772
 4.0     3527
 2.0     2083
 3.0     1483
-1.0      598
 5.0      260
Name: count, dtype: int64

In [29]:
df["_AGEG5YR"] = df["_AGEG5YR"] - 1 
df.loc[df["_AGEG5YR"] ==  13, "_AGEG5YR"] = -1

df['_AGEG5YR'].value_counts()

_AGEG5YR
 8.0     18587
 9.0     17910
 7.0     16392
 6.0     15536
 10.0    14428
 5.0     13591
 11.0     9208
 12.0     6916
-1.0      1745
Name: count, dtype: int64

In [30]:
df["_INCOMG1"] = df["_INCOMG1"] - 1 
df.loc[df["_INCOMG1"] >= 7, "_INCOMG1"] = -1

df['_INCOMG1'].value_counts()

_INCOMG1
 4.0    30156
 5.0    22182
-1.0    17172
 3.0    11721
 2.0    10269
 1.0     8955
 6.0     7610
 0.0     6248
Name: count, dtype: int64

In [31]:
df["_EDUCAG"] = df["_EDUCAG"] - 1 
df.loc[df["_EDUCAG"] > 5, "_EDUCAG"] = -1

df['_EDUCAG'].value_counts()

_EDUCAG
 3.0    51364
 2.0    31458
 1.0    24750
 0.0     6437
-1.0      304
Name: count, dtype: int64

In [32]:
df["_CHLDCNT"] = df["_CHLDCNT"] - 1 
df.loc[df["_CHLDCNT"] > 6, "_CHLDCNT"] = -1

df['_CHLDCNT'].value_counts()

_CHLDCNT
 0.0    93929
 1.0    10487
 2.0     6202
 3.0     1988
-1.0      784
 4.0      592
 5.0      331
Name: count, dtype: int64

In [33]:
#Se decide conservar estos casos por la posible presencia de personas que viven en refugios, 
# residencias de ancianos u otras situaciones especiales de vivienda.
df.loc[df["HHADULT"].isin([77,99]), "HHADULT"] = -1
df = df[df["HHADULT"] <= 20]

df['HHADULT'].value_counts()

HHADULT
 2.000000e+00    57923
 1.000000e+00    30376
 3.000000e+00    15903
 4.000000e+00     6555
 5.000000e+00     1850
-1.000000e+00      861
 6.000000e+00      509
 7.000000e+00      147
 8.000000e+00       58
 1.000000e+01       28
 9.000000e+00       26
 1.200000e+01       20
 1.300000e+01       16
 1.100000e+01       10
 1.400000e+01        5
 1.600000e+01        5
 1.800000e+01        5
 1.500000e+01        4
 1.700000e+01        4
 5.397605e-79        1
Name: count, dtype: int64

In [34]:
df["SEXVAR"] = df["SEXVAR"] - 1
df['SEXVAR'].value_counts()

SEXVAR
0.0    57527
1.0    56779
Name: count, dtype: int64

In [35]:
# Se pasa el 2 a 0, Ya que no cumple la condiciÃ³n.

df.loc[df["MEDCOST1"] > 6, "MEDCOST1"] = -1
df.loc[df["MEDCOST1"] == 2, "MEDCOST1"] = 0

df['MEDCOST1'].value_counts()

MEDCOST1
 0.0    106236
 1.0      7778
-1.0       292
Name: count, dtype: int64

In [36]:
# Se pasa el 2 a 0, Ya que no cumple la condiciÃ³n.

df.loc[df["_HLTHPLN"] > 6, "_HLTHPLN"] = -1
df.loc[df["_HLTHPLN"] == 2, "_HLTHPLN"] = 0

df['_HLTHPLN'].value_counts()

_HLTHPLN
 1.0    107302
 0.0      4227
-1.0      2777
Name: count, dtype: int64

In [37]:
# Variable: SDHEMPLY
# Â¿En los Ãºltimos 12 meses ha perdido su empleo o le han reducido sus horas de trabajo?
# Cambio de codificacion:
# 1: si     0: no       -1: no contesta
df.loc[df["SDHEMPLY"] > 2, "SDHEMPLY"] = -1
df.loc[df["SDHEMPLY"] == 2, "SDHEMPLY"] = 0
print(df["SDHEMPLY"].value_counts())

SDHEMPLY
 0.0    104684
 1.0      8722
-1.0       900
Name: count, dtype: int64

In [38]:
# Variable: SDHFOOD1
# Durante los Ãºltimos 12 meses, Â¿con quÃ© frecuencia no te durÃ³ la comida que compraste y no tuviste dinero para comprar mÃ¡s? Â¿Fue esoâ€¦?
# Cambio de codificacion:
# -1: no contesta       [El resto se mantiene tal cual]
df.loc[df["SDHFOOD1"] > 5, "SDHFOOD1"] = -1
print(df["SDHFOOD1"].value_counts())

SDHFOOD1
 5.0    94612
 4.0     7833
 3.0     7206
 1.0     2233
 2.0     1881
-1.0      541
Name: count, dtype: int64

In [39]:
# Variable: SDHUTILS
# Durante los Ãºltimos 12 meses, Â¿hubo alguna ocasiÃ³n en que una compaÃ±Ã­a de electricidad, gas, petrÃ³leo o agua amenazÃ³ 
# con cortar los servicios?
# Cambio de codificacion:
# 1: si     0: no       -1: no contesta
df.loc[df["SDHUTILS"] > 2, "SDHUTILS"] = -1
df.loc[df["SDHUTILS"] == 2, "SDHUTILS"] = 0
print(df["SDHUTILS"].value_counts())

SDHUTILS
 0.0    107671
 1.0      6316
-1.0       319
Name: count, dtype: int64

In [40]:
# Variable: SDHBILLS
# Durante los Ãºltimos 12 meses, Â¿hubo algÃºn momento en el que no pudo pagar su hipoteca, alquiler o facturas de servicios pÃºblicos?
# Cambio de codificacion:
# 1: si     0: no       -1: no contesta
df.loc[df["SDHBILLS"] > 2, "SDHBILLS"] = -1
df.loc[df["SDHBILLS"] == 2, "SDHBILLS"] = 0
print(df["SDHBILLS"].value_counts())

SDHBILLS
 0.0    104575
 1.0      9319
-1.0       412
Name: count, dtype: int64

In [41]:
# Variable: SDHTRNSP
# Durante los Ãºltimos 12 meses, Â¿la falta de transporte confiable le ha impedido asistir a citas mÃ©dicas, reuniones, 
# trabajar o conseguir las cosas que necesita para la vida diaria?
# Cambio de codificacion:
# 1: si     0: no       -1: no contesta
df.loc[df["SDHTRNSP"] > 2, "SDHTRNSP"] = -1
df.loc[df["SDHTRNSP"] == 2, "SDHTRNSP"] = 0
print(df["SDHTRNSP"].value_counts())

SDHTRNSP
 0.0    107598
 1.0      6431
-1.0       277
Name: count, dtype: int64

In [42]:
# Variable: SLEPTIM1
# En promedio, Â¿cuÃ¡ntas horas duermes en un perÃ­odo de 24 horas?
# Cambio de codificacion:
# -1: no contesta       [El resto se mantiene tal cual]
df.loc[df["SLEPTIM1"] > 24, "SLEPTIM1"] = -1
print(df["SLEPTIM1"].value_counts())

SLEPTIM1
 7.0     35124
 8.0     33034
 6.0     23772
 5.0      7209
 9.0      5676
 4.0      3129
 10.0     2655
-1.0      1033
 3.0       798
 12.0      729
 2.0       337
 1.0       241
 11.0      173
 15.0       90
 14.0       84
 16.0       78
 18.0       50
 13.0       42
 20.0       28
 24.0       10
 17.0        6
 19.0        4
 23.0        2
 22.0        2
Name: count, dtype: int64

In [43]:
# Variable: HIVRISK5
# Voy a leerte una lista. Cuando termine, por favor, dime si alguna de estas situaciones te aplica. No es necesario 
# que me digas cuÃ¡l. Te has inyectado alguna droga distinta a la recetada en el Ãºltimo aÃ±o. Has recibido tratamiento 
# por una enfermedad de transmisiÃ³n sexual o ETS en el Ãºltimo aÃ±o. Has dado o recibido dinero o drogas a cambio de sexo en el Ãºltimo aÃ±o.
# Cambio de codificacion:
# 1: si     0: no       -1: no contesta
df.loc[df["HIVRISK5"] > 2, "HIVRISK5"] = -1
df.loc[df["HIVRISK5"] == 2, "HIVRISK5"] = 0
print(df["HIVRISK5"].value_counts())

HIVRISK5
 0.0    111264
 1.0      2634
-1.0       408
Name: count, dtype: int64

In [44]:
# Variable: _TOTINDA
# Adultos que informaron haber realizado actividad fÃ­sica o ejercicio durante los Ãºltimos 30 dÃ­as aparte de su trabajo habitual
# Cambio de codificacion:
# 1: si     0: no       -1: no contesta
df.loc[df["_TOTINDA"] > 2, "_TOTINDA"] = -1
df.loc[df["_TOTINDA"] == 2, "_TOTINDA"] = 0
print(df["_TOTINDA"].value_counts())

_TOTINDA
 1.0    86713
 0.0    27390
-1.0      203
Name: count, dtype: int64

In [45]:
# Variable: CVDSTRK3
# Â¿Alguna vez te han dicho que tuviste un derrame cerebral?
# Cambio de codificacion:
# 1: si     0: no       -1: no contesta
df.loc[df["CVDSTRK3"] > 2, "CVDSTRK3"] = -1
df.loc[df["CVDSTRK3"] == 2, "CVDSTRK3"] = 0
print(df["CVDSTRK3"].value_counts())

CVDSTRK3
 0.0    108260
 1.0      5787
-1.0       259
Name: count, dtype: int64

In [46]:
# Variable: DIABETE4
# Â¿Alguna vez le dijeron que tenÃ­a diabetes? (Si la respuesta es Â«SÃ­Â» y la encuestada es mujer, pregunte 
# Â«Â¿Fue solo cuando estaba embarazada?Â». Si la encuestada dice prediabetes o diabetes limÃ­trofe, use el cÃ³digo de respuesta 4).
# Cambio de codificacion:
# 0: No     1: Prediabetes      2: En embarazo      3: No diabetes      -1: No contesta
df.loc[df["DIABETE4"] == 3, "DIABETE4"] = 0
df.loc[df["DIABETE4"] == 1, "DIABETE4"] = 3
df.loc[df["DIABETE4"] == 4, "DIABETE4"] = 1
df.loc[df["DIABETE4"] > 4, "DIABETE4"] = -1
print(df["DIABETE4"].value_counts())

DIABETE4
 0.0    90615
 3.0    19646
 1.0     3178
 2.0      723
-1.0      144
Name: count, dtype: int64

In [48]:
columnas = df.columns
columnas
for col in columnas:
    df = df[df[col] != -1]

In [49]:
df.to_csv("../data/processed/data_prefinal.csv", index=False)