In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("../data/processed/data_merged.csv")

In [22]:
df.head()

,MARITAL,RENTHOM1,VETERAN3,EMPLOY1,_AGEG5YR,_INCOMG1,_EDUCAG,_CHLDCNT,_EXTETH3,HHADULT,...,_PHYS14D,_MENT14D,_BMI5CAT,LSATISFY,social_vulnerability_score,tobacco_use,health_risk_score,disability_score,trauma_exposure_score,gun_risk_score
0,1.0,1.0,2.0,7.0,13.0,9.0,4.0,1.0,9.0,NaN,...,1.0,1.0,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1,3.0,1.0,2.0,2.0,13.0,3.0,2.0,1.0,9.0,NaN,...,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,2.0,7.0,8.0,6.0,4.0,1.0,9.0,NaN,...,2.0,2.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,2.0,7.0,14.0,9.0,2.0,1.0,9.0,NaN,...,1.0,1.0,2.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0
4,1.0,1.0,2.0,5.0,5.0,3.0,3.0,1.0,9.0,NaN,...,2.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 36 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   MARITAL                     445124 non-null  float64
 1   RENTHOM1                    445123 non-null  float64
 2   VETERAN3                    440959 non-null  float64
 3   EMPLOY1                     438936 non-null  float64
 4   _AGEG5YR                    445132 non-null  float64
 5   _INCOMG1                    445132 non-null  float64
 6   _EDUCAG                     445132 non-null  float64
 7   _CHLDCNT                    445131 non-null  float64
 8   _EXTETH3                    445132 non-null  float64
 9   HHADULT                     349071 non-null  float64
 10  SEXVAR                      445132 non-null  float64
 11  MEDCOST1                    445128 non-null  float64
 12  _HLTHPLN                    445132 non-null  float64
 13  _AIDTST4                    398897 non-null  float64
 14  CDSOCIAL                    7415 non-null    float64
 15  CDDISCUS                    7400 non-null    float64
 16  CRGVREL4                    19634 non-null   float64
 17  CRGVLNG1                    19583 non-null   float64
 18  CRGVHRS1                    19533 non-null   float64
 19  SLEPTIM1                    445129 non-null  float64
 20  HIVRISK5                    396671 non-null  float64
 21  MARIJAN1                    94919 non-null   float64
 22  _TOTINDA                    445132 non-null  float64
 23  _RFBING6                    445132 non-null  float64
 24  ADDEPEV3                    445125 non-null  float64
 25  COVIDPOS                    395897 non-null  float64
 26  _PHYS14D                    445132 non-null  float64
 27  _MENT14D                    445132 non-null  float64
 28  _BMI5CAT                    396326 non-null  float64
 29  LSATISFY                    254488 non-null  float64
 30  social_vulnerability_score  445132 non-null  float64
 31  tobacco_use                 445132 non-null  float64
 32  health_risk_score           445132 non-null  float64
 33  disability_score            445132 non-null  float64
 34  trauma_exposure_score       445132 non-null  float64
 35  gun_risk_score              445132 non-null  float64
dtypes: float64(36)
memory usage: 122.3 MB

In [24]:
duplicates = df.duplicated().sum()

df = df.drop_duplicates()

In [25]:
# Columnas a eliminar por amplia presencia de nulos
cols_to_drop = ["CDSOCIAL", "CDDISCUS", "CRGVREL4", "CRGVLNG1", "CRGVHRS1", "MARIJAN1"]
df = df.drop(cols_to_drop, axis=1)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 442930 entries, 0 to 445131
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   MARITAL                     442922 non-null  float64
 1   RENTHOM1                    442921 non-null  float64
 2   VETERAN3                    438880 non-null  float64
 3   EMPLOY1                     436886 non-null  float64
 4   _AGEG5YR                    442930 non-null  float64
 5   _INCOMG1                    442930 non-null  float64
 6   _EDUCAG                     442930 non-null  float64
 7   _CHLDCNT                    442929 non-null  float64
 8   _EXTETH3                    442930 non-null  float64
 9   HHADULT                     347413 non-null  float64
 10  SEXVAR                      442930 non-null  float64
 11  MEDCOST1                    442926 non-null  float64
 12  _HLTHPLN                    442930 non-null  float64
 13  _AIDTST4                    397198 non-null  float64
 14  SLEPTIM1                    442927 non-null  float64
 15  HIVRISK5                    394972 non-null  float64
 16  _TOTINDA                    442930 non-null  float64
 17  _RFBING6                    442930 non-null  float64
 18  ADDEPEV3                    442923 non-null  float64
 19  COVIDPOS                    394198 non-null  float64
 20  _PHYS14D                    442930 non-null  float64
 21  _MENT14D                    442930 non-null  float64
 22  _BMI5CAT                    394554 non-null  float64
 23  LSATISFY                    253294 non-null  float64
 24  social_vulnerability_score  442930 non-null  float64
 25  tobacco_use                 442930 non-null  float64
 26  health_risk_score           442930 non-null  float64
 27  disability_score            442930 non-null  float64
 28  trauma_exposure_score       442930 non-null  float64
 29  gun_risk_score              442930 non-null  float64
dtypes: float64(30)
memory usage: 104.8 MB

In [27]:
ds = df.copy()

In [28]:
ds = ds.dropna()

In [29]:
ds.shape

(182940, 30)

In [30]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182940 entries, 1211 to 445131
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   MARITAL                     182940 non-null  float64
 1   RENTHOM1                    182940 non-null  float64
 2   VETERAN3                    182940 non-null  float64
 3   EMPLOY1                     182940 non-null  float64
 4   _AGEG5YR                    182940 non-null  float64
 5   _INCOMG1                    182940 non-null  float64
 6   _EDUCAG                     182940 non-null  float64
 7   _CHLDCNT                    182940 non-null  float64
 8   _EXTETH3                    182940 non-null  float64
 9   HHADULT                     182940 non-null  float64
 10  SEXVAR                      182940 non-null  float64
 11  MEDCOST1                    182940 non-null  float64
 12  _HLTHPLN                    182940 non-null  float64
 13  _AIDTST4                    182940 non-null  float64
 14  SLEPTIM1                    182940 non-null  float64
 15  HIVRISK5                    182940 non-null  float64
 16  _TOTINDA                    182940 non-null  float64
 17  _RFBING6                    182940 non-null  float64
 18  ADDEPEV3                    182940 non-null  float64
 19  COVIDPOS                    182940 non-null  float64
 20  _PHYS14D                    182940 non-null  float64
 21  _MENT14D                    182940 non-null  float64
 22  _BMI5CAT                    182940 non-null  float64
 23  LSATISFY                    182940 non-null  float64
 24  social_vulnerability_score  182940 non-null  float64
 25  tobacco_use                 182940 non-null  float64
 26  health_risk_score           182940 non-null  float64
 27  disability_score            182940 non-null  float64
 28  trauma_exposure_score       182940 non-null  float64
 29  gun_risk_score              182940 non-null  float64
dtypes: float64(30)
memory usage: 43.3 MB

In [31]:
# ["_EXTETH3", "HHADULT", "SEXVAR", "MEDCOST1", "_HLTHPLN", "_AIDTST4", "SLEPTIM1", "HIVRISK5"]

In [32]:
ds = ds.drop("_EXTETH3", axis=1)

In [33]:
ds.loc[(ds["HHADULT"]==77) | (ds["HHADULT"]==88) | (ds["HHADULT"]==99), "HHADULT"] = -1
# ds.HHADULT.value_counts()
# ds["SEXVAR"].value_counts() # 1: Male, 2: Female

In [34]:
# 1: Yes, 2: No >> Cambiar a 1: Yes, 0: No
ds.loc[ds["MEDCOST1"] > 2, "MEDCOST1"] = -1
ds.loc[ds["MEDCOST1"] == 2, "MEDCOST1"] = 0
ds.MEDCOST1.value_counts()

MEDCOST1
 0.0    165113
 1.0     17283
-1.0       544
Name: count, dtype: int64

In [35]:
# 1: Yes, 2: No >> Cambiar a 1: Yes, 0: No
ds.loc[ds["_HLTHPLN"] > 2, "_HLTHPLN"] = -1
ds.loc[ds["_HLTHPLN"] == 2, "_HLTHPLN"] = 0
ds._HLTHPLN.value_counts()

_HLTHPLN
 1.0    166294
 0.0     10753
-1.0      5893
Name: count, dtype: int64

In [36]:
# 1: Yes, 2: No >> Cambiar a 1: Yes, 0: No
ds.loc[ds["_AIDTST4"] > 2, "_AIDTST4"] = -1
ds.loc[ds["_AIDTST4"] == 2, "_AIDTST4"] = 0
ds._AIDTST4.value_counts()

_AIDTST4
 0.0    108490
 1.0     65820
-1.0      8630
Name: count, dtype: int64

In [37]:
# 1: Yes, 2: No >> Cambiar a 1: Yes, 0: No
ds.loc[ds["HIVRISK5"] > 2, "HIVRISK5"] = -1
ds.loc[ds["HIVRISK5"] == 2, "HIVRISK5"] = 0
ds.HIVRISK5.value_counts()

HIVRISK5
 0.0    172627
 1.0      9526
-1.0       787
Name: count, dtype: int64

In [38]:
ds["SLEPTIM1"].value_counts()

SLEPTIM1
7.0     56413
8.0     49806
6.0     40882
5.0     12679
9.0      8315
4.0      5249
10.0     3802
77.0     1478
3.0      1312
12.0     1048
2.0       555
1.0       418
11.0      259
99.0      168
14.0      125
15.0      114
16.0      104
13.0       68
18.0       68
20.0       38
24.0       17
17.0        9
19.0        6
23.0        5
22.0        2
Name: count, dtype: int64

In [ ]:
ds.loc[ds["SLEPTIM1"] > 24, "SLEPTIM1"] = -1
ds.loc[(ds["SLEPTIM1"] > 0) & (ds["SLEPTIM1"] <= 5), "SLEPTIM1"] = 2
ds.loc[(ds["SLEPTIM1"] > 5) & (ds["SLEPTIM1"] <= 9), "SLEPTIM1"] = 0
ds.loc[(ds["SLEPTIM1"] > 9) & (ds["SLEPTIM1"] <= 24), "SLEPTIM1"] = 1
ds.SLEPTIM1.value_counts()

SLEPTIM1
 1.0    155416
 0.0     20213
 2.0      5665
-1.0      1646
Name: count, dtype: int64