In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("../data/processed/data_merged.csv")

In [28]:
df.head()

,MARITAL,RENTHOM1,VETERAN3,EMPLOY1,_AGEG5YR,_INCOMG1,_EDUCAG,_CHLDCNT,_EXTETH3,HHADULT,...,_PHYS14D,_MENT14D,_BMI5CAT,LSATISFY,social_vulnerability_score,tobacco_use,health_risk_score,disability_score,trauma_exposure_score,gun_risk_score
0,1.0,1.0,2.0,7.0,13.0,9.0,4.0,1.0,9.0,NaN,...,1.0,1.0,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1,3.0,1.0,2.0,2.0,13.0,3.0,2.0,1.0,9.0,NaN,...,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,2.0,7.0,8.0,6.0,4.0,1.0,9.0,NaN,...,2.0,2.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,2.0,7.0,14.0,9.0,2.0,1.0,9.0,NaN,...,1.0,1.0,2.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0
4,1.0,1.0,2.0,5.0,5.0,3.0,3.0,1.0,9.0,NaN,...,2.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 36 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   MARITAL                     445124 non-null  float64
 1   RENTHOM1                    445123 non-null  float64
 2   VETERAN3                    440959 non-null  float64
 3   EMPLOY1                     438936 non-null  float64
 4   _AGEG5YR                    445132 non-null  float64
 5   _INCOMG1                    445132 non-null  float64
 6   _EDUCAG                     445132 non-null  float64
 7   _CHLDCNT                    445131 non-null  float64
 8   _EXTETH3                    445132 non-null  float64
 9   HHADULT                     349071 non-null  float64
 10  SEXVAR                      445132 non-null  float64
 11  MEDCOST1                    445128 non-null  float64
 12  _HLTHPLN                    445132 non-null  float64
 13  _AIDTST4                    398897 non-null  float64
 14  CDSOCIAL                    7415 non-null    float64
 15  CDDISCUS                    7400 non-null    float64
 16  CRGVREL4                    19634 non-null   float64
 17  CRGVLNG1                    19583 non-null   float64
 18  CRGVHRS1                    19533 non-null   float64
 19  SLEPTIM1                    445129 non-null  float64
 20  HIVRISK5                    396671 non-null  float64
 21  MARIJAN1                    94919 non-null   float64
 22  _TOTINDA                    445132 non-null  float64
 23  _RFBING6                    394030 non-null  float64
 24  ADDEPEV3                    445125 non-null  float64
 25  COVIDPOS                    395897 non-null  float64
 26  _PHYS14D                    445132 non-null  float64
 27  _MENT14D                    445132 non-null  float64
 28  _BMI5CAT                    396326 non-null  float64
 29  LSATISFY                    254488 non-null  float64
 30  social_vulnerability_score  445132 non-null  float64
 31  tobacco_use                 445132 non-null  float64
 32  health_risk_score           445132 non-null  float64
 33  disability_score            445132 non-null  float64
 34  trauma_exposure_score       445132 non-null  float64
 35  gun_risk_score              445132 non-null  float64
dtypes: float64(36)
memory usage: 122.3 MB

In [30]:
duplicates = df.duplicated().sum()

df = df.drop_duplicates()

In [31]:
# Columnas a eliminar por amplia presencia de nulos
cols_to_drop = ["CDSOCIAL", "CDDISCUS", "CRGVREL4", "CRGVLNG1", "CRGVHRS1", "MARIJAN1"]
df = df.drop(cols_to_drop, axis=1)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 442930 entries, 0 to 445131
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   MARITAL                     442922 non-null  float64
 1   RENTHOM1                    442921 non-null  float64
 2   VETERAN3                    438880 non-null  float64
 3   EMPLOY1                     436886 non-null  float64
 4   _AGEG5YR                    442930 non-null  float64
 5   _INCOMG1                    442930 non-null  float64
 6   _EDUCAG                     442930 non-null  float64
 7   _CHLDCNT                    442929 non-null  float64
 8   _EXTETH3                    442930 non-null  float64
 9   HHADULT                     347413 non-null  float64
 10  SEXVAR                      442930 non-null  float64
 11  MEDCOST1                    442926 non-null  float64
 12  _HLTHPLN                    442930 non-null  float64
 13  _AIDTST4                    397198 non-null  float64
 14  SLEPTIM1                    442927 non-null  float64
 15  HIVRISK5                    394972 non-null  float64
 16  _TOTINDA                    442930 non-null  float64
 17  _RFBING6                    392336 non-null  float64
 18  ADDEPEV3                    442923 non-null  float64
 19  COVIDPOS                    394198 non-null  float64
 20  _PHYS14D                    442930 non-null  float64
 21  _MENT14D                    442930 non-null  float64
 22  _BMI5CAT                    394554 non-null  float64
 23  LSATISFY                    253294 non-null  float64
 24  social_vulnerability_score  442930 non-null  float64
 25  tobacco_use                 442930 non-null  float64
 26  health_risk_score           442930 non-null  float64
 27  disability_score            442930 non-null  float64
 28  trauma_exposure_score       442930 non-null  float64
 29  gun_risk_score              442930 non-null  float64
dtypes: float64(30)
memory usage: 104.8 MB

In [33]:
ds = df.copy()

In [34]:
ds = ds.dropna()

In [35]:
ds.shape

(179252, 30)

In [36]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 179252 entries, 1211 to 445131
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   MARITAL                     179252 non-null  float64
 1   RENTHOM1                    179252 non-null  float64
 2   VETERAN3                    179252 non-null  float64
 3   EMPLOY1                     179252 non-null  float64
 4   _AGEG5YR                    179252 non-null  float64
 5   _INCOMG1                    179252 non-null  float64
 6   _EDUCAG                     179252 non-null  float64
 7   _CHLDCNT                    179252 non-null  float64
 8   _EXTETH3                    179252 non-null  float64
 9   HHADULT                     179252 non-null  float64
 10  SEXVAR                      179252 non-null  float64
 11  MEDCOST1                    179252 non-null  float64
 12  _HLTHPLN                    179252 non-null  float64
 13  _AIDTST4                    179252 non-null  float64
 14  SLEPTIM1                    179252 non-null  float64
 15  HIVRISK5                    179252 non-null  float64
 16  _TOTINDA                    179252 non-null  float64
 17  _RFBING6                    179252 non-null  float64
 18  ADDEPEV3                    179252 non-null  float64
 19  COVIDPOS                    179252 non-null  float64
 20  _PHYS14D                    179252 non-null  float64
 21  _MENT14D                    179252 non-null  float64
 22  _BMI5CAT                    179252 non-null  float64
 23  LSATISFY                    179252 non-null  float64
 24  social_vulnerability_score  179252 non-null  float64
 25  tobacco_use                 179252 non-null  float64
 26  health_risk_score           179252 non-null  float64
 27  disability_score            179252 non-null  float64
 28  trauma_exposure_score       179252 non-null  float64
 29  gun_risk_score              179252 non-null  float64
dtypes: float64(30)
memory usage: 42.4 MB

In [37]:
# ["_EXTETH3", "HHADULT", "SEXVAR", "MEDCOST1", "_HLTHPLN", "_AIDTST4", "SLEPTIM1", "HIVRISK5"]

In [38]:
ds = ds.drop("_EXTETH3", axis=1)

In [39]:
ds.loc[(ds["HHADULT"]==77) | (ds["HHADULT"]==88) | (ds["HHADULT"]==99), "HHADULT"] = -1
# ds.HHADULT.value_counts()
# ds["SEXVAR"].value_counts() # 1: Male, 2: Female

In [40]:
# 1: Yes, 2: No >> Cambiar a 1: Yes, 0: No
ds.loc[ds["MEDCOST1"] > 2, "MEDCOST1"] = -1
ds.loc[ds["MEDCOST1"] == 2, "MEDCOST1"] = 0
ds.MEDCOST1.value_counts()

MEDCOST1
 0.0    161899
 1.0     16853
-1.0       500
Name: count, dtype: int64

In [41]:
# 1: Yes, 2: No >> Cambiar a 1: Yes, 0: No
ds.loc[ds["_HLTHPLN"] > 2, "_HLTHPLN"] = -1
ds.loc[ds["_HLTHPLN"] == 2, "_HLTHPLN"] = 0
ds._HLTHPLN.value_counts()

_HLTHPLN
 1.0    163193
 0.0     10435
-1.0      5624
Name: count, dtype: int64

In [42]:
# 1: Yes, 2: No >> Cambiar a 1: Yes, 0: No
ds.loc[ds["_AIDTST4"] > 2, "_AIDTST4"] = -1
ds.loc[ds["_AIDTST4"] == 2, "_AIDTST4"] = 0
ds._AIDTST4.value_counts()

_AIDTST4
 0.0    106372
 1.0     64572
-1.0      8308
Name: count, dtype: int64

In [43]:
# 1: Yes, 2: No >> Cambiar a 1: Yes, 0: No
ds.loc[ds["HIVRISK5"] > 2, "HIVRISK5"] = -1
ds.loc[ds["HIVRISK5"] == 2, "HIVRISK5"] = 0
ds.HIVRISK5.value_counts()

HIVRISK5
 0.0    169348
 1.0      9255
-1.0       649
Name: count, dtype: int64

In [ ]:
ds.loc[ds["SLEPTIM1"] > 24, "SLEPTIM"]

SLEPTIM1
7.0     55488
8.0     48729
6.0     40088
5.0     12422
9.0      8149
4.0      5126
10.0     3716
77.0     1359
3.0      1285
12.0     1019
2.0       535
1.0       411
11.0      252
99.0      146
14.0      120
15.0      108
16.0      101
18.0       66
13.0       62
20.0       36
24.0       15
17.0        8
19.0        6
23.0        3
22.0        2
Name: count, dtype: int64