In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/workspaces/Final_Project_DataScient/data/interim/data_limpia.zip')
df

,MARITAL,RENTHOM1,VETERAN3,EMPLOY1,_AGEG5YR,_INCOMG1,_EDUCAG,_CHLDCNT,_EXTETH3,HHADULT,...,ACEPRISN,ACEDIVRC,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX,FIREARM5,GUNLOAD,LOADULK2
0,1.0,1.0,2.0,7.0,13.0,9.0,4.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,1.0,2.0,2.0,13.0,3.0,2.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,2.0,7.0,8.0,6.0,4.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,2.0,7.0,14.0,9.0,2.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,2.0,5.0,5.0,3.0,3.0,1.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,5.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445128,1.0,1.0,1.0,1.0,7.0,5.0,4.0,2.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445129,1.0,3.0,2.0,8.0,10.0,9.0,2.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445130,1.0,2.0,2.0,7.0,11.0,5.0,3.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445131,3.0,1.0,2.0,1.0,5.0,2.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 82 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   MARITAL   445124 non-null  float64
 1   RENTHOM1  445123 non-null  float64
 2   VETERAN3  440959 non-null  float64
 3   EMPLOY1   438936 non-null  float64
 4   _AGEG5YR  445132 non-null  float64
 5   _INCOMG1  445132 non-null  float64
 6   _EDUCAG   445132 non-null  float64
 7   _CHLDCNT  445131 non-null  float64
 8   _EXTETH3  445132 non-null  float64
 9   HHADULT   349071 non-null  float64
 10  SEXVAR    445132 non-null  float64
 11  PERSDOC3  445130 non-null  float64
 12  MEDCOST1  445128 non-null  float64
 13  _HLTHPLN  445132 non-null  float64
 14  _AIDTST4  398897 non-null  float64
 15  SDHEMPLY  253515 non-null  float64
 16  SDHFOOD1  252829 non-null  float64
 17  SDHUTILS  252279 non-null  float64
 18  SDHBILLS  252522 non-null  float64
 19  SDHTRNSP  251943 non-null  float64
 20  CDSOCIAL  7415 non-null    float64
 21  CDDISCUS  7400 non-null    float64
 22  CAREGIV1  98510 non-null   float64
 23  CRGVREL4  19634 non-null   float64
 24  CRGVLNG1  19583 non-null   float64
 25  CRGVHRS1  19533 non-null   float64
 26  EXERANY2  445130 non-null  float64
 27  SLEPTIM1  445129 non-null  float64
 28  SMOKE100  413355 non-null  float64
 29  USENOW3   412532 non-null  float64
 30  ECIGNOW2  411553 non-null  float64
 31  ALCDAY4   404369 non-null  float64
 32  AVEDRNK3  210363 non-null  float64
 33  DRNK3GE5  209849 non-null  float64
 34  MAXDRNKS  209411 non-null  float64
 35  HIVRISK5  396671 non-null  float64
 36  MARIJAN1  94919 non-null   float64
 37  MARJSMOK  11510 non-null   float64
 38  MARJEAT   11504 non-null   float64
 39  MARJVAPE  11503 non-null   float64
 40  MARJDAB   11495 non-null   float64
 41  MARJOTHR  11487 non-null   float64
 42  ASBIALCH  60942 non-null   float64
 43  ASBIDRNK  60840 non-null   float64
 44  ASBIBING  60728 non-null   float64
 45  _TOTINDA  445132 non-null  float64
 46  _RFSMOK3  445132 non-null  float64
 47  DRNKANY6  445132 non-null  float64
 48  _RFBING6  445132 non-null  float64
 49  CVDINFR4  445128 non-null  float64
 50  CVDSTRK3  445130 non-null  float64
 51  ADDEPEV3  445125 non-null  float64
 52  DIABETE4  445129 non-null  float64
 53  COVIDPOS  395897 non-null  float64
 54  HADHYST2  217679 non-null  float64
 55  COLNCNCR  291086 non-null  float64
 56  FLUSHOT7  401539 non-null  float64
 57  _MICHD    440111 non-null  float64
 58  _ASTHMS1  445132 non-null  float64
 59  _DRDXAR2  442499 non-null  float64
 60  _PHYS14D  445132 non-null  float64
 61  _MENT14D  445132 non-null  float64
 62  _BMI5CAT  396326 non-null  float64
 63  _RFHLTH   445132 non-null  float64
 64  DECIDE    424146 non-null  float64
 65  DIFFALON  421190 non-null  float64
 66  ACEDEPRS  48286 non-null   float64
 67  LSATISFY  254488 non-null  float64
 68  EMTSUPRT  254141 non-null  float64
 69  SDHISOLT  253790 non-null  float64
 70  ACEDRINK  48231 non-null   float64
 71  ACEDRUGS  48220 non-null   float64
 72  ACEPRISN  48194 non-null   float64
 73  ACEDIVRC  48172 non-null   float64
 74  ACEHURT1  48077 non-null   float64
 75  ACESWEAR  48029 non-null   float64
 76  ACETOUCH  47972 non-null   float64
 77  ACETTHEM  47936 non-null   float64
 78  ACEHVSEX  47876 non-null   float64
 79  FIREARM5  39800 non-null   float64
 80  GUNLOAD   13825 non-null   float64
 81  LOADULK2  4055 non-null    float64
dtypes: float64(82)
memory usage: 278.5 MB

In [4]:
df = df.drop(columns=["MARIJAN1","MARJSMOK","HADHYST2", "MARJEAT","FLUSHOT7", 
                      "_RFHLTH","CVDINFR4","MARJVAPE", "MARJDAB",
                     "MARJOTHR","ALCDAY4", "AVEDRNK3", 
                     "DRNK3GE5", "MAXDRNKS", "ASBIALCH",
                     "ASBIDRNK", "ASBIBING", "DRNKANY6", 
                     "PERSDOC3", "EXERANY2", "SMOKE100", "USENOW3",
                     "ACEDEPRS", "ACEDRINK", "ACEDRUGS", "ACEPRISN", "ACEDIVRC", 
                     "ACEHURT1", "ACESWEAR", "ACETOUCH", "ACETTHEM", "ACEHVSEX",
                     "CDSOCIAL","CDDISCUS", "CRGVHRS1", "CRGVLNG1", "CRGVREL4", "_EXTETH3",
                     "CAREGIV1", "FIREARM5", "GUNLOAD", "LOADULK2"
                       ])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 40 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   MARITAL   445124 non-null  float64
 1   RENTHOM1  445123 non-null  float64
 2   VETERAN3  440959 non-null  float64
 3   EMPLOY1   438936 non-null  float64
 4   _AGEG5YR  445132 non-null  float64
 5   _INCOMG1  445132 non-null  float64
 6   _EDUCAG   445132 non-null  float64
 7   _CHLDCNT  445131 non-null  float64
 8   HHADULT   349071 non-null  float64
 9   SEXVAR    445132 non-null  float64
 10  MEDCOST1  445128 non-null  float64
 11  _HLTHPLN  445132 non-null  float64
 12  _AIDTST4  398897 non-null  float64
 13  SDHEMPLY  253515 non-null  float64
 14  SDHFOOD1  252829 non-null  float64
 15  SDHUTILS  252279 non-null  float64
 16  SDHBILLS  252522 non-null  float64
 17  SDHTRNSP  251943 non-null  float64
 18  SLEPTIM1  445129 non-null  float64
 19  ECIGNOW2  411553 non-null  float64
 20  HIVRISK5  396671 non-null  float64
 21  _TOTINDA  445132 non-null  float64
 22  _RFSMOK3  445132 non-null  float64
 23  _RFBING6  445132 non-null  float64
 24  CVDSTRK3  445130 non-null  float64
 25  ADDEPEV3  445125 non-null  float64
 26  DIABETE4  445129 non-null  float64
 27  COVIDPOS  395897 non-null  float64
 28  COLNCNCR  291086 non-null  float64
 29  _MICHD    440111 non-null  float64
 30  _ASTHMS1  445132 non-null  float64
 31  _DRDXAR2  442499 non-null  float64
 32  _PHYS14D  445132 non-null  float64
 33  _MENT14D  445132 non-null  float64
 34  _BMI5CAT  396326 non-null  float64
 35  DECIDE    424146 non-null  float64
 36  DIFFALON  421190 non-null  float64
 37  LSATISFY  254488 non-null  float64
 38  EMTSUPRT  254141 non-null  float64
 39  SDHISOLT  253790 non-null  float64
dtypes: float64(40)
memory usage: 135.8 MB

In [6]:
df.shape

(445132, 40)

In [7]:
#tabaco
# 1: No, 2: Yes >> Cambiar a 1: Yes, 0: No
df.loc[df["_RFSMOK3"] == 1, "_RFSMOK3"] = 0
df.loc[df["_RFSMOK3"] == 2, "_RFSMOK3"] = 1
df._RFSMOK3.value_counts()
# 1: No, 2, 3 o 4: Yes >> Cambiar a 1: Yes, 0: No
df.loc[df["ECIGNOW2"] == 1, "ECIGNOW2"] = 0
df.loc[df["ECIGNOW2"] > 1, "ECIGNOW2"] = 1
df.ECIGNOW2.value_counts()
tobacco_columns = ["_RFSMOK3", "ECIGNOW2"]
# Se imputa 0 a los valores vacios que indican no respuesta a la pregunta asumiendo respuesta negativa
df = df.dropna(subset=tobacco_columns)
df["tobacco_use"] = df[tobacco_columns].sum(axis=1)
df = df.drop(tobacco_columns, axis=1)
df["tobacco_use"].value_counts()

tobacco_use
0.0     286153
1.0      96120
2.0      25831
9.0       2022
10.0      1427
Name: count, dtype: int64

In [8]:
df.shape

(411553, 39)

In [9]:
#Alcohol
# 1: No, 2: Yes >> Cambiar a 1: Yes, 0: No
df.loc[df["_RFBING6"] > 2, "_RFBING6"] = -1
df.loc[df["_RFBING6"] == 1, "_RFBING6"] = 0
df.loc[df["_RFBING6"] == 2, "_RFBING6"] = 1
df._RFBING6.value_counts()

_RFBING6
 0.0    337111
 1.0     56915
-1.0     17527
Name: count, dtype: int64

In [10]:
df.shape

(411553, 39)

In [11]:
df["SDHISOLT"].value_counts()

SDHISOLT
5.0    106160
4.0     70617
3.0     53072
2.0     13178
1.0      8098
7.0      1696
9.0       969
Name: count, dtype: int64

In [12]:
#aislamiento social
# 1, 2 y 3: Aislado, 4 y 5: No aislado >> Cambiar a 1: Aislado, 0: No aislado
df.loc[df["SDHISOLT"] <= 3, "SDHISOLT"] = 1
df.loc[(df["SDHISOLT"] == 4) | (df["SDHISOLT"] == 5), "SDHISOLT"] = 0
df.loc[df["SDHISOLT"] > 5, "SDHISOLT"] = -1
df["SDHISOLT"].value_counts()

SDHISOLT
 0.0    176777
 1.0     74348
-1.0      2665
Name: count, dtype: int64

In [13]:
df["EMTSUPRT"].value_counts()

EMTSUPRT
1.0    118012
2.0     77907
3.0     33813
4.0     10835
5.0      9379
7.0      2820
9.0      1375
Name: count, dtype: int64

In [14]:
df.loc[df["EMTSUPRT"] <= 2, "EMTSUPRT"] = 1
df.loc[(df["EMTSUPRT"] == 3) | (df["EMTSUPRT"] == 4) | (df["EMTSUPRT"] == 5), "EMTSUPRT"] = 0
df.loc[df["EMTSUPRT"] > 5, "EMTSUPRT"] = -1
df["EMTSUPRT"].value_counts()

EMTSUPRT
 1.0    195919
 0.0     54027
-1.0      4195
Name: count, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 411553 entries, 0 to 445131
Data columns (total 39 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   MARITAL      411551 non-null  float64
 1   RENTHOM1     411552 non-null  float64
 2   VETERAN3     411553 non-null  float64
 3   EMPLOY1      411552 non-null  float64
 4   _AGEG5YR     411553 non-null  float64
 5   _INCOMG1     411553 non-null  float64
 6   _EDUCAG      411553 non-null  float64
 7   _CHLDCNT     411552 non-null  float64
 8   HHADULT      321768 non-null  float64
 9   SEXVAR       411553 non-null  float64
 10  MEDCOST1     411551 non-null  float64
 11  _HLTHPLN     411553 non-null  float64
 12  _AIDTST4     398894 non-null  float64
 13  SDHEMPLY     253515 non-null  float64
 14  SDHFOOD1     252829 non-null  float64
 15  SDHUTILS     252279 non-null  float64
 16  SDHBILLS     252522 non-null  float64
 17  SDHTRNSP     251943 non-null  float64
 18  SLEPTIM1     411553 non-null  float64
 19  HIVRISK5     396668 non-null  float64
 20  _TOTINDA     411553 non-null  float64
 21  _RFBING6     411553 non-null  float64
 22  CVDSTRK3     411553 non-null  float64
 23  ADDEPEV3     411548 non-null  float64
 24  DIABETE4     411553 non-null  float64
 25  COVIDPOS     395894 non-null  float64
 26  COLNCNCR     288369 non-null  float64
 27  _MICHD       407038 non-null  float64
 28  _ASTHMS1     411553 non-null  float64
 29  _DRDXAR2     409158 non-null  float64
 30  _PHYS14D     411553 non-null  float64
 31  _MENT14D     411553 non-null  float64
 32  _BMI5CAT     382897 non-null  float64
 33  DECIDE       411552 non-null  float64
 34  DIFFALON     411552 non-null  float64
 35  LSATISFY     254488 non-null  float64
 36  EMTSUPRT     254141 non-null  float64
 37  SDHISOLT     253790 non-null  float64
 38  tobacco_use  411553 non-null  float64
dtypes: float64(39)
memory usage: 125.6 MB

In [16]:
df = df.dropna(subset=[col for col in df.columns if col != "MARIJAN1"])
df.shape

(115712, 39)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 115712 entries, 1211 to 445130
Data columns (total 39 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   MARITAL      115712 non-null  float64
 1   RENTHOM1     115712 non-null  float64
 2   VETERAN3     115712 non-null  float64
 3   EMPLOY1      115712 non-null  float64
 4   _AGEG5YR     115712 non-null  float64
 5   _INCOMG1     115712 non-null  float64
 6   _EDUCAG      115712 non-null  float64
 7   _CHLDCNT     115712 non-null  float64
 8   HHADULT      115712 non-null  float64
 9   SEXVAR       115712 non-null  float64
 10  MEDCOST1     115712 non-null  float64
 11  _HLTHPLN     115712 non-null  float64
 12  _AIDTST4     115712 non-null  float64
 13  SDHEMPLY     115712 non-null  float64
 14  SDHFOOD1     115712 non-null  float64
 15  SDHUTILS     115712 non-null  float64
 16  SDHBILLS     115712 non-null  float64
 17  SDHTRNSP     115712 non-null  float64
 18  SLEPTIM1     115712 non-null  float64
 19  HIVRISK5     115712 non-null  float64
 20  _TOTINDA     115712 non-null  float64
 21  _RFBING6     115712 non-null  float64
 22  CVDSTRK3     115712 non-null  float64
 23  ADDEPEV3     115712 non-null  float64
 24  DIABETE4     115712 non-null  float64
 25  COVIDPOS     115712 non-null  float64
 26  COLNCNCR     115712 non-null  float64
 27  _MICHD       115712 non-null  float64
 28  _ASTHMS1     115712 non-null  float64
 29  _DRDXAR2     115712 non-null  float64
 30  _PHYS14D     115712 non-null  float64
 31  _MENT14D     115712 non-null  float64
 32  _BMI5CAT     115712 non-null  float64
 33  DECIDE       115712 non-null  float64
 34  DIFFALON     115712 non-null  float64
 35  LSATISFY     115712 non-null  float64
 36  EMTSUPRT     115712 non-null  float64
 37  SDHISOLT     115712 non-null  float64
 38  tobacco_use  115712 non-null  float64
dtypes: float64(39)
memory usage: 35.3 MB

In [18]:
df.isnull().sum()

MARITAL        0
RENTHOM1       0
VETERAN3       0
EMPLOY1        0
_AGEG5YR       0
_INCOMG1       0
_EDUCAG        0
_CHLDCNT       0
HHADULT        0
SEXVAR         0
MEDCOST1       0
_HLTHPLN       0
_AIDTST4       0
SDHEMPLY       0
SDHFOOD1       0
SDHUTILS       0
SDHBILLS       0
SDHTRNSP       0
SLEPTIM1       0
HIVRISK5       0
_TOTINDA       0
_RFBING6       0
CVDSTRK3       0
ADDEPEV3       0
DIABETE4       0
COVIDPOS       0
COLNCNCR       0
_MICHD         0
_ASTHMS1       0
_DRDXAR2       0
_PHYS14D       0
_MENT14D       0
_BMI5CAT       0
DECIDE         0
DIFFALON       0
LSATISFY       0
EMTSUPRT       0
SDHISOLT       0
tobacco_use    0
dtype: int64

In [19]:
df.columns

Index(['MARITAL', 'RENTHOM1', 'VETERAN3', 'EMPLOY1', '_AGEG5YR', '_INCOMG1',
       '_EDUCAG', '_CHLDCNT', 'HHADULT', 'SEXVAR', 'MEDCOST1', '_HLTHPLN',
       '_AIDTST4', 'SDHEMPLY', 'SDHFOOD1', 'SDHUTILS', 'SDHBILLS', 'SDHTRNSP',
       'SLEPTIM1', 'HIVRISK5', '_TOTINDA', '_RFBING6', 'CVDSTRK3', 'ADDEPEV3',
       'DIABETE4', 'COVIDPOS', 'COLNCNCR', '_MICHD', '_ASTHMS1', '_DRDXAR2',
       '_PHYS14D', '_MENT14D', '_BMI5CAT', 'DECIDE', 'DIFFALON', 'LSATISFY',
       'EMTSUPRT', 'SDHISOLT', 'tobacco_use'],
      dtype='object')

In [20]:
df["ADDEPEV3"].value_counts()

ADDEPEV3
2.0    91598
1.0    23696
7.0      353
9.0       65
Name: count, dtype: int64

In [21]:
# Lo llevamos a una variable binaria.
# Eliminamos NAN y los valores 7 y 9 (Donâ€™t know/Refused/Missing)
# Pasamos 2 (no) a 0
df['ADDEPEV3'].dropna()
df = df[~df["ADDEPEV3"].isin([9,7])]
df.loc[df["ADDEPEV3"] == 2, "ADDEPEV3"] = 0
print(df["ADDEPEV3"].value_counts())
print(df.shape)

ADDEPEV3
0.0    91598
1.0    23696
Name: count, dtype: int64
(115294, 39)

In [22]:
df.to_csv("../data/processed/data_prefinal.csv", index=False)