In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/processed/data_merged.csv")

In [3]:
df.head()

,MARITAL,RENTHOM1,VETERAN3,EMPLOY1,_AGEG5YR,_INCOMG1,_EDUCAG,_CHLDCNT,_EXTETH3,HHADULT,...,COVIDPOS,_PHYS14D,_MENT14D,_BMI5CAT,social_vulnerability_score,tobacco_use,health_risk_score,disability_score,trauma_exposure_score,gun_risk_score
0,1.0,1.0,2.0,7.0,13.0,9.0,4.0,1.0,9.0,NaN,...,2.0,1.0,1.0,NaN,2.0,1.0,1.0,0.0,0.0,0.0
1,3.0,1.0,2.0,2.0,13.0,3.0,2.0,1.0,9.0,NaN,...,2.0,1.0,1.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,2.0,7.0,8.0,6.0,4.0,1.0,9.0,NaN,...,1.0,2.0,2.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,2.0,7.0,14.0,9.0,2.0,1.0,9.0,NaN,...,2.0,1.0,1.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0
4,1.0,1.0,2.0,5.0,5.0,3.0,3.0,1.0,9.0,NaN,...,2.0,2.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 35 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   MARITAL                     445124 non-null  float64
 1   RENTHOM1                    445123 non-null  float64
 2   VETERAN3                    440959 non-null  float64
 3   EMPLOY1                     438936 non-null  float64
 4   _AGEG5YR                    445132 non-null  float64
 5   _INCOMG1                    445132 non-null  float64
 6   _EDUCAG                     445132 non-null  float64
 7   _CHLDCNT                    445131 non-null  float64
 8   _EXTETH3                    445132 non-null  float64
 9   HHADULT                     349071 non-null  float64
 10  SEXVAR                      445132 non-null  float64
 11  MEDCOST1                    445128 non-null  float64
 12  _HLTHPLN                    445132 non-null  float64
 13  _AIDTST4                    398897 non-null  float64
 14  CDSOCIAL                    7415 non-null    float64
 15  CDDISCUS                    7400 non-null    float64
 16  CRGVREL4                    19634 non-null   float64
 17  CRGVLNG1                    19583 non-null   float64
 18  CRGVHRS1                    19533 non-null   float64
 19  SLEPTIM1                    445129 non-null  float64
 20  HIVRISK5                    396671 non-null  float64
 21  MARIJAN1                    94919 non-null   float64
 22  _TOTINDA                    445132 non-null  float64
 23  _RFBING6                    394030 non-null  float64
 24  ADDEPEV3                    445125 non-null  float64
 25  COVIDPOS                    395897 non-null  float64
 26  _PHYS14D                    445132 non-null  float64
 27  _MENT14D                    445132 non-null  float64
 28  _BMI5CAT                    396326 non-null  float64
 29  social_vulnerability_score  445132 non-null  float64
 30  tobacco_use                 445132 non-null  float64
 31  health_risk_score           445132 non-null  float64
 32  disability_score            445132 non-null  float64
 33  trauma_exposure_score       445132 non-null  float64
 34  gun_risk_score              445132 non-null  float64
dtypes: float64(35)
memory usage: 118.9 MB

In [10]:
duplicates = df.duplicated().sum()

df = df.drop_duplicates()

In [15]:
# Fill missing values
df["MARITAL"]

0         1.0
1         3.0
2         1.0
3         1.0
4         1.0
         ...
445127    5.0
445128    1.0
445129    1.0
445130    1.0
445131    3.0
Name: MARITAL, Length: 442412, dtype: float64