# Exploración de modelos.

### Escalado

In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv("/workspaces/Final_Project_DataScient/data/processed/data_final.csv")
df

,MARITAL,RENTHOM1,VETERAN3,EMPLOY1,_AGEG5YR,_INCOMG1,_EDUCAG,_CHLDCNT,HHADULT,SEXVAR,...,_DRDXAR2,_PHYS14D,_MENT14D,_BMI5CAT,DECIDE,DIFFALON,LSATISFY,EMTSUPRT,SDHISOLT,tobacco_use
0,0.0,0.0,0.0,0.0,8.0,4.0,3.0,0.0,2,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,6.0,8.0,-1.0,3.0,0.0,4,1.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,6.0,2.0,1.0,0.0,2,1.0,...,1.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,6.0,5.0,2.0,0.0,2,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,7.0,8.0,3.0,2.0,0.0,2,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114301,1.0,0.0,0.0,1.0,8.0,5.0,2.0,0.0,1,0.0,...,1.0,0.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0
114302,0.0,1.0,0.0,0.0,9.0,5.0,3.0,0.0,4,0.0,...,1.0,0.0,2.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0
114303,0.0,0.0,1.0,0.0,6.0,4.0,3.0,1.0,2,1.0,...,0.0,1.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0
114304,0.0,2.0,0.0,7.0,9.0,-1.0,1.0,0.0,1,1.0,...,0.0,2.0,2.0,0.0,-1.0,0.0,-1.0,0.0,1.0,2.0
114305,0.0,1.0,0.0,6.0,10.0,4.0,2.0,0.0,2,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0

In [44]:
columnas = df.columns
columnas

Index(['MARITAL', 'RENTHOM1', 'VETERAN3', 'EMPLOY1', '_AGEG5YR', '_INCOMG1',
       '_EDUCAG', '_CHLDCNT', 'HHADULT', 'SEXVAR', 'MEDCOST1', '_HLTHPLN',
       '_AIDTST4', 'SDHEMPLY', 'SDHFOOD1', 'SDHUTILS', 'SDHBILLS', 'SDHTRNSP',
       'SLEPTIM1', 'HIVRISK5', '_TOTINDA', '_RFBING6', 'CVDSTRK3', 'ADDEPEV3',
       'DIABETE4', 'COVIDPOS', 'COLNCNCR', '_MICHD', '_ASTHMS1', '_DRDXAR2',
       '_PHYS14D', '_MENT14D', '_BMI5CAT', 'DECIDE', 'DIFFALON', 'LSATISFY',
       'EMTSUPRT', 'SDHISOLT', 'tobacco_use'],
      dtype='object')

In [45]:
for col in columnas:
    df = df[df[col] != -1]

In [46]:
df.shape

(80072, 39)

In [ ]:
# MARITAL, RENTHOM1, EMPLOY1

In [48]:
for col in columnas:
    print(df[col].value_counts())

MARITAL
0.0    49469
1.0    13525
2.0     7268
4.0     6061
5.0     2224
3.0     1525
Name: count, dtype: int64
RENTHOM1
0.0    65242
1.0    13125
2.0     1705
Name: count, dtype: int64
VETERAN3
0.0    68559
1.0    11513
Name: count, dtype: int64
EMPLOY1
0.0    33914
6.0    27842
1.0     8292
7.0     5329
4.0     2215
2.0     1302
3.0     1025
5.0      153
Name: count, dtype: int64
_AGEG5YR
8.0     13344
9.0     12579
7.0     12185
6.0     11767
5.0     10556
10.0     9754
11.0     5923
12.0     3964
Name: count, dtype: int64
_INCOMG1
4.0    25537
5.0    19228
3.0     9503
2.0     7969
1.0     6761
6.0     6652
0.0     4422
Name: count, dtype: int64
_EDUCAG
3.0    37846
2.0    22152
1.0    16552
0.0     3522
Name: count, dtype: int64
_CHLDCNT
0.0    65416
1.0     7883
2.0     4659
3.0     1444
4.0      442
5.0      228
Name: count, dtype: int64
HHADULT
2     41690
1     20362
3     11514
4      4661
5      1288
6       340
7        96
8        44
10       16
9        15
12       12
13       10
11        6
14        5
17        4
18        4
16        3
0         1
15        1
Name: count, dtype: int64
SEXVAR
0.0    40387
1.0    39685
Name: count, dtype: int64
MEDCOST1
0.0    75011
1.0     5061
Name: count, dtype: int64
_HLTHPLN
1.0    77247
0.0     2825
Name: count, dtype: int64
_AIDTST4
0.0    52734
1.0    27338
Name: count, dtype: int64
SDHEMPLY
0.0    74047
1.0     6025
Name: count, dtype: int64
SDHFOOD1
5.0    67666
4.0     5289
3.0     4556
1.0     1378
2.0     1183
Name: count, dtype: int64
SDHUTILS
0.0    75815
1.0     4257
Name: count, dtype: int64
SDHBILLS
0.0    73878
1.0     6194
Name: count, dtype: int64
SDHTRNSP
0.0    76068
1.0     4004
Name: count, dtype: int64
SLEPTIM1
7.0     25673
8.0     23117
6.0     16930
5.0      4999
9.0      3925
4.0      2049
10.0     1721
3.0       519
12.0      451
2.0       211
1.0       154
11.0      101
14.0       54
15.0       49
16.0       43
18.0       27
13.0       25
20.0       13
17.0        5
24.0        3
19.0        2
22.0        1
Name: count, dtype: int64
HIVRISK5
0.0    78163
1.0     1909
Name: count, dtype: int64
_TOTINDA
1.0    61924
0.0    18148
Name: count, dtype: int64
_RFBING6
0.0    69913
1.0    10159
Name: count, dtype: int64
CVDSTRK3
0.0    76395
1.0     3677
Name: count, dtype: int64
ADDEPEV3
0.0    63654
1.0    16418
Name: count, dtype: int64
DIABETE4
0.0    64187
3.0    13341
1.0     2042
2.0      502
Name: count, dtype: int64
COVIDPOS
0.0    54550
2.0    22478
1.0     3044
Name: count, dtype: int64
COLNCNCR
0.0    62776
1.0    17296
Name: count, dtype: int64
_MICHD
0.0    71694
1.0     8378
Name: count, dtype: int64
_ASTHMS1
3.0    68680
1.0     8389
2.0     3003
Name: count, dtype: int64
_DRDXAR2
0.0    47171
1.0    32901
Name: count, dtype: int64
_PHYS14D
0.0    49311
1.0    19574
2.0    11187
Name: count, dtype: int64
_MENT14D
0.0    52814
1.0    18473
2.0     8785
Name: count, dtype: int64
_BMI5CAT
2.0    30014
3.0    29291
1.0    19929
0.0      838
Name: count, dtype: int64
DECIDE
0.0    72433
1.0     7639
Name: count, dtype: int64
DIFFALON
0.0    75038
1.0     5034
Name: count, dtype: int64
LSATISFY
0.0    40327
1.0    36155
2.0     2798
3.0      792
Name: count, dtype: int64
EMTSUPRT
1.0    65259
0.0    14813
Name: count, dtype: int64
SDHISOLT
0.0    60205
1.0    19867
Name: count, dtype: int64
tobacco_use
0.0    60514
1.0    15127
2.0     4431
Name: count, dtype: int64